.dropdown-menu > li > a,
.dropdown-menu > li > a:focus,
.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active,
.dropdown-toggle:visited,
.nav .open > a,
.nav .open > a:active,
.nav .open > a:visited,
.nav .open > a:focus {
	color: var(--col-red);
	background-color: var(--col-nav-background);
}

	.dropdown-menu > li > a:hover,
	.dropdown-toggle:hover,
	.nav .open > a:hover {
		color: var(--col-red);
		background-color: var(--col-nav-background-hover);
	}

.dropdown-menu {
	font-size: 20px;
}