.enemies-summary-row {
	flex-direction: row;
	max-width: 960px;
}

	.enemies-summary-row > div {
		padding-right: 8px;
	}

.damage-stats-row,
.damage-stats-row-top {
	flex-direction: row;
}

	.damage-stats-row > div,
	.damage-stats-row-top > div {
		padding-right: 8px;
	}

@media (min-width: 1200px) {
	.enemies-summary-row > div {
		width: 30%;
		max-width: 30%;
	}

		.enemies-summary-row > div:nth-child(1),
		.enemies-summary-row > div:nth-child(4) {
			width: 25%;
			max-width: 25%;
		}

		.enemies-summary-row > div:nth-child(2),
		.enemies-summary-row > div:nth-child(3) {
			width: 10%;
			max-width: 10%;
		}

	.damage-stats-row > div {
		width: 7.54%;
	}

		.damage-stats-row > div:nth-child(1) {
			min-width: 17%;
			width: 17%;
		}

	.damage-stats-row-top > div:nth-child(1) {
		min-width: 24.54%;
		width: 24.54%;
	}

	.damage-stats-row-top > div:nth-child(2),
	.damage-stats-row-top > div:nth-child(3) {
		min-width: 30.15%;
		width: 30.15%;
	}

	.damage-stats-row-top > div:nth-child(4) {
		min-width: 15.16%;
		width: 15.16%;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.enemies-summary-row > div:nth-child(1) {
		width: 26.5%;
		max-width: 26.5%;
	}

	.enemies-summary-row > div:nth-child(2) {
		width: 7%;
		max-width: 7%;
	}

	.enemies-summary-row > div:nth-child(3) {
		width: 8%;
		max-width: 8%;
	}

	.enemies-summary-row > div:nth-child(4) {
		width: 22%;
		max-width: 22%;
	}

	.enemies-summary-row > div:nth-child(5) {
		width: 36.5%;
		max-width: 36.5%;
	}

	.damage-stats-row > div {
		width: 15%;
	}

		.damage-stats-row > div:nth-child(1) {
			width: 35%;
		}

		.damage-stats-row > div:nth-child(2) {
			width: 5%;
		}

	.damage-stats-row-top {
		visibility: collapse;
	}

	.damage-stats-row-main {
		padding-top: 1em;
	}
}

@media (max-width: 767px) {
	.damage-stats-row > div:nth-child(1) {
		width: 65%;
	}

	.damage-stats-row > div:nth-child(2) {
		width: 35%;
	}

	.damage-stats-row-top {
		visibility: collapse;
	}

	.damage-stats-row-main {
		padding-top: 1em;
	}
}

.enemy-container {
	flex-direction: row;
	flex-wrap: wrap;
}

.enemy {
	width: 380px;
	padding: 8px;
	margin: 8px;
	border-radius: 2px;
}

.enemy-row {
	flex-direction: row;
	justify-content: space-between;
}

	.enemy-row > div {
		flex-grow: 1;
	}
