.leaderboard-table td,
.leaderboard-table th {
	padding: 0 10px 0 10px;
	overflow: hidden;
}

.leaderboard-username {
	max-height: 1em;
	overflow-y: hidden;
	max-width: 224px;
}

.leaderboard-death {
	text-align: center;
}

.footable-details td {
	text-align: right;
	padding-right: 0;
}

.footable-details th {
	text-align: left;
}

.leaderboard-table.footable-details th {
	padding-left: 64px; /*todo*/
}

.footable-details td,
.footable-details th {
	font-size: 18px;
}

.input {
	text-align: center;
	color: red;
}

.ban,
.ban > td {
	text-decoration: line-through;
	color: #666666;
}

.admin {
	background: url('../Images/Fonts/fontadmin.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.donator {
	background: url('../Images/Fonts/fontdonator.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.devil {
	background: url('../Images/Fonts/fontdevil.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.golden {
	background: url('../Images/Fonts/fontgold.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.silver {
	background: url('../Images/Fonts/fontsilver.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bronze {
	background: url('../Images/Fonts/fontbronze.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.default {
	background: url('../Images/Fonts/fontdefault.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.annihilated {
	background: url('../Images/Fonts/fontannihilated.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.barbed {
	background: url('../Images/Fonts/fontbarbed.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.discarnated {
	background: url('../Images/Fonts/fontdiscarnated.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.envenmonated {
	background: url('../Images/Fonts/fontenvenmonated.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.eviscerated {
	background: url('../Images/Fonts/fonteviscerated.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.fallen {
	background: url('../Images/Fonts/fontfallen.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gored, .desecrated {
	background: url('../Images/Fonts/fontgored.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.impaled, .purged {
	background: url('../Images/Fonts/fontimpaled.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.incarnated {
	background: url('../Images/Fonts/fontincarnated.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.infested {
	background: url('../Images/Fonts/fontinfested.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.intoxicated {
	background: url('../Images/Fonts/fontintoxicated.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.opened, .sacrificed {
	background: url('../Images/Fonts/fontopened.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.swarmed {
	background: url('../Images/Fonts/fontswarmed.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
