.leaderboard-container {
	flex-direction: column;
}

.leaderboard-username {
	max-width: 224px;
	max-height: 1.42857143em;
	overflow: hidden;
}

.input {
	text-align: center;
	color: var(--col-red);
	margin-top: 5px;
	max-width: 160px;
}

.input-label {
	margin-top: 5px;
}

.leaderboard-nav-buttons > a:nth-child(1),
.leaderboard-nav-buttons > button:nth-child(1) {
	margin-right: 2px;
}
.leaderboard-nav-buttons > a:nth-child(2),
.leaderboard-nav-buttons > button:nth-child(2) {
	margin-left: 2px;
}

.sorter:hover {
	cursor: pointer;
}

@media (max-width: 1199px) {
	.leaderboard-row {
		cursor: pointer;
	}
}

.ban * {
	text-decoration: line-through;
	color: var(--col-ban);
}

.player-id-tooltip {
	cursor: pointer;
}

.leaderboard-row,
.leaderboard-title-row {
	flex-direction: row;
}

	.leaderboard-row > div,
	.leaderboard-title-row > div {
		padding-right: 8px;
	}

@media (min-width: 1600px) {
	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1),
	.leaderboard-row > div:nth-child(5),
	.leaderboard-title-row > div:nth-child(5),
	.leaderboard-row > div:nth-child(6),
	.leaderboard-title-row > div:nth-child(6) {
		min-width: 4%;
		width: 4%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 2%;
		width: 2%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 14%;
		width: 14%;
	}

	.leaderboard-row > div:nth-child(4),
	.leaderboard-title-row > div:nth-child(4) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(7),
	.leaderboard-title-row > div:nth-child(7) {
		min-width: 8%;
		width: 8%;
	}

	.leaderboard-row > div:nth-child(8),
	.leaderboard-title-row > div:nth-child(8) {
		min-width: 11%;
		width: 11%;
	}

	.leaderboard-row > div:nth-child(9),
	.leaderboard-title-row > div:nth-child(9),
	.leaderboard-row > div:nth-child(10),
	.leaderboard-title-row > div:nth-child(10),
	.leaderboard-row > div:nth-child(11),
	.leaderboard-title-row > div:nth-child(11),
	.leaderboard-row > div:nth-child(13),
	.leaderboard-title-row > div:nth-child(13) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(12),
	.leaderboard-title-row > div:nth-child(12) {
		min-width: 10%;
		width: 10%;
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.leaderboard-row > div,
	.leaderboard-title-row > div {
		width: 10%;
	}

		.leaderboard-row > div:nth-child(1),
		.leaderboard-title-row > div:nth-child(1),
		.leaderboard-row > div:nth-child(5),
		.leaderboard-title-row > div:nth-child(5),
		.leaderboard-row > div:nth-child(6),
		.leaderboard-title-row > div:nth-child(6),
		.leaderboard-row > div:nth-child(13),
		.leaderboard-title-row > div:nth-child(13) {
			min-width: 6%;
			width: 6%;
		}

		.leaderboard-row > div:nth-child(2),
		.leaderboard-title-row > div:nth-child(2) {
			min-width: 3%;
			width: 3%;
		}

		.leaderboard-row > div:nth-child(3),
		.leaderboard-title-row > div:nth-child(3),
		.leaderboard-row > div:nth-child(7),
		.leaderboard-title-row > div:nth-child(7),
		.leaderboard-row > div:nth-child(12),
		.leaderboard-title-row > div:nth-child(12) {
			min-width: 8%;
			width: 8%;
		}

		.leaderboard-row > div:nth-child(8),
		.leaderboard-title-row > div:nth-child(8),
		.leaderboard-row > div:nth-child(9),
		.leaderboard-title-row > div:nth-child(9) {
			min-width: 10.5%;
			width: 10.5%;
		}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.leaderboard-row > div,
	.leaderboard-title-row > div {
		width: 14%;
	}

		.leaderboard-row > div:nth-child(1),
		.leaderboard-title-row > div:nth-child(1) {
			min-width: 9%;
			width: 9%;
		}

		.leaderboard-row > div:nth-child(2),
		.leaderboard-title-row > div:nth-child(2) {
			min-width: 4.5%;
			width: 4.5%;
		}

		.leaderboard-row > div:nth-child(3),
		.leaderboard-title-row > div:nth-child(3) {
			min-width: 35%;
			width: 35%;
		}

	.leaderboard-expand {
		padding-left: 9%;
	}
}

@media (max-width: 767px) {
	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 18%;
		width: 18%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 41%;
		width: 41%;
	}

	.leaderboard-row > div:nth-child(4),
	.leaderboard-title-row > div:nth-child(4) {
		min-width: 32%;
		width: 32%;
	}

	.leaderboard-expand {
		padding-left: 18%;
	}
}

.leaderboard-expand {
	flex-direction: column;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.35s ease-out;
	-moz-transition: max-height 0.35s ease-out;
	-webkit-transition: max-height 0.35s ease-out;
	-o-transition: max-height 0.35s ease-out;
}

	.leaderboard-expand.expand {
		max-height: 500px;
		transition: max-height 0.45s ease-in;
		-moz-transition: max-height 0.45s ease-in;
		-webkit-transition: max-height 0.45s ease-in;
		-o-transition: max-height 0.45s ease-in;
	}

	.leaderboard-expand > div {
		padding-right: 8px;
	}

		.leaderboard-expand > div > div {
			width: 50%;
			float: left;
		}

.devil {
	background: url('../Images/Fonts/Devil.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.golden {
	background: url('../Images/Fonts/Golden.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.silver {
	background: url('../Images/Fonts/Silver.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bronze {
	background: url('../Images/Fonts/Bronze.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.default {
	background: url('../Images/Fonts/Default.png');
	background-repeat: repeat-x;
	background-position: 0 7px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}