.jqplot-highlighter {
	background-color: rgba(0,0,0,0.8);
	color: var(--col-default-text);
	width: 224px;
	padding: 8px;
	text-align: right;
}

	.jqplot-highlighter > tbody > tr > td:nth-child(1) {
		text-align: left;
	}