@font-face {
	font-family: 'default';
	src: local('Goethe Bold'), url('../Fonts/goethebold.ttf') format('truetype');
}

html {
	overflow-y: scroll;
}

::selection {
	background: #770000;
}

::-moz-selection {
	background: #770000;
}

body {
	color: #DDDDDD;
	background-color: black;
	font-family: 'default', sans-serif;
	font-size: 20px;
}

.inner-container {
	margin-left: 10%;
	width: 80%;
}

@media screen and (max-width: 1199px) {
	.inner-container {
		margin-left: 5%;
		width: 90%;
	}
}

@media screen and (max-width: 767px) {
	.inner-container {
		margin-left: 0;
		width: 100%;
	}
}

.flex-container > div {
	margin: 0 10px 0 10px;
	overflow: hidden;
	overflow-y: hidden;
}

@media (max-width: 1199px) {
	.hide-tablet {
		display: none;
	}

	.show-tablet {
		display: normal;
	}
}

@media (min-width: 1200px) {
	.hide-tablet {
		display: normal;
	}

	.show-tablet {
		display: none;
	}
}

@media (max-width: 767px) {
	.hide-mobile {
		display: none;
	}

	.show-mobile {
		display: normal;
	}
}

@media (min-width: 768px) {
	.hide-mobile {
		display: normal;
	}

	.show-mobile {
		display: none;
	}
}