@font-face {
	font-family: 'default';
	src: local('Goethe Bold'), url('../Fonts/goethebold.ttf') format('truetype');
}

html {
	overflow-y: scroll;
}

.body-content {
	padding: 0 7.5%;
}

@media (max-width: 767px) {
	.body-content {
		padding: 0 2.5%;
	}
}

::selection {
	background: #770000;
}

::-moz-selection {
	background: #770000;
}

body {
	color: #DDDDDD;
	background-color: black;
	font-family: 'default', sans-serif;
	font-size: 19.9px; /*blur fix???*/
}

h1, h2, h3, h4, h5, h6 {
	color: #FF0000;
	margin-left: 0px;
	padding-left: 0px;
}

h1 {
	text-align: center;
}

p {
	padding: 0;
}

p, table {
	margin-left: 0;
}

a,
a:active,
a:visited,
a:focus,
a:hover {
	color: #FF0000;
}

	a:hover {
		text-decoration: underline;
	}

.btn {
	margin: 8px 0;
	border: 2px solid;
	border-color: #DDDDDD;
	text-align: center;
	padding: 6px 12px;
	font-size: 22px;
}

	.btn:hover {
		cursor: pointer;
		color: red;
	}

.btn-default {
	color: red;
}

@media (max-width: 767px) {
	.mobile-left {
		text-align: left;
	}

	.mobile-right {
		text-align: right;
	}
}

.footable-details td,
.footable-details th {
	font-size: 17px;
}

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.dont-break-out {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}