#navbar-collapse {
	max-height: 540px;
}

.navbar, .navbar-header, .navbar-nav, .navbar-nav > li, .navbar-brand, .navbar-collapse, ul.navbar-nav {
	background-color: var(--col-nav-background);
}

.navbar {
	-webkit-box-shadow: 0 -4px 8px 6px var(--col-dark-red);
	-moz-box-shadow: 0 -4px 8px 6px var(--col-dark-red);
	box-shadow: 0 -4px 8px 6px var(--col-dark-red);
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
	background-color: var(--col-nav-background-hover);
}

.icon-bar {
	background-color: var(--col-red);
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}