.spawnsets-question {
	font-style: italic;
	color: #FF0000;
	font-size: 24px;
}

.spawnsets-answer {
	margin-bottom: 1em;
}

.spawnsets-sort > th > a {
	color: #ddd;
	text-decoration: none;
}

.spawnset-page-nav {
	padding: 0;
	margin-bottom: 10px;
}