@using DevilDaggersCore.Game

<span class="@GameInfo.GetDaggerFromSeconds(GameVersion.V31, TimeInSeconds).Name.ToLower()">@(TimeInSeconds.ToString(FormatUtils.TimeFormat))</span>

@code {
	[Parameter] public double TimeInSeconds { get; set; }
}
