<div class="text-center inline-block relative cursor-pointer has-tooltip @CssClass">
	<span class="tooltip bg-tooltip-background font-calibri text-color-text text-base rounded -mt-12 -ml-20 p-1">@((MarkupString)Text)</span>
	@ChildContent
</div>

@code {
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public string Text { get; set; } = null!;
	[Parameter] public string? CssClass { get; set; }
}
