@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
	--col-dropdown: #337ab7;
	--col-dropdown-hover: #23527c;
	--col-red: #f00;
	--col-dark-red: #600;
	--col-dark-orange: #630;
	--col-gray: #666;
	--col-default-text: #ddd;
	--col-gray-08: #080808;
	--col-gray-0B: #0B0B0B;
	--col-gray-11: #111;
	--col-gray-18: #181818;
	--col-gray-22: #222;
	--col-nav-background: #0D0D0D;
	--col-nav-background-hover: #181818;
	--col-ban: #666;
	--col-selection-text: #700;
	--col-underline-leviathan: #810017;
	--col-underline-devil: #CB2012;
	--col-underline-golden: #FCBE34;
	--col-underline-silver: #9CA4AA;
	--col-underline-bronze: #765A46;
	--col-underline-default: #434343;
}

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: black;
	color: var(--col-default-text);
}

.table {
	color: var(--col-default-text);
}

a, .btn-link {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.content {
	padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
	outline: 1px solid #26b050;
}

.invalid {
	outline: 1px solid red;
}

.validation-message {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}
