#blazor-error-ui {
	background: lightyellow;
	color: black;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.leviathan {
	background: url('../images/fonts/Leviathan.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.devil {
	background: url('../images/fonts/Devil.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.golden {
	background: url('../images/fonts/Golden.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.silver {
	background: url('../images/fonts/Silver.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bronze {
	background: url('../images/fonts/Bronze.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.default {
	background: url('../images/fonts/Default.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.highlight.leviathan:hover,
.highlight.bronze:hover,
.highlight.default:hover {
	filter: brightness(150%) saturate(150%);
}

.highlight.devil:hover,
.highlight.golden:hover,
.highlight.silver:hover {
	filter: brightness(200%) saturate(200%);
}
