@page "/tools"
@using DevilDaggersInfo.Api.Main.Tools
@using DevilDaggersInfo.Types.Web
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Components.Tools
@using DevilDaggersInfo.Web.Client.HttpClients
@inject MainApiHttpClient Http

<Heading Title="DDINFO TOOLS" />

@if (GetTool == null)
{
	<Loading />
}
else
{
	<ToolInfo GetTool="GetTool" />

	<Heading Title="Distributions" Level="2" />
	
	<Distributions>
		<Distribution ToolName="ddinfo-tools-launcher" Note="Recommended" PublishMethod="ToolPublishMethod.Aot" BuildType="ToolBuildType.WindowsConsole" OperatingSystems="Windows 8 and later" Recommended="true" />
	</Distributions>

	<img src="/images/tools/ddinfo-tools.png" class="object-contain max-h-160 pt-3" alt="DDINFO TOOLS" />

	<p class="para">
		This is an alpha version of the rewritten tools. The main idea of the rewrite is to have a single application instead of three separate ones, to make the tools more user-friendly, and to support Mac and Linux.
	</p>
	
	<p class="para">
		The tools are still in early development, so expect bugs and missing features. If you encounter any problems, please report them to me on Discord or on GitHub.
	</p>
	
	<p class="para">
		Keep in mind that there is no support for mods yet. This will be added later.
	</p>
	
	<p class="para">
		I also do not have a deadline or schedule for these developments, and there will not be an official release date any time soon.
	</p>
	
	<Heading Title="System Requirements" Level="2" />
	
	<ul class="pl-4">
		<li class="list-disc">64-bit processor and operating system</li>
		<li class="list-disc">Dedicated GPU with OpenGL 3.3 support</li>
		<li class="list-disc">20 MB available space</li>
		<li class="list-disc">A resolution of 1024x768 or larger</li>
	</ul>

	<p class="para">
		If your computer can run Devil Daggers, you will be able to run the tools just fine. Note that you actually need to have Devil Daggers installed for the tools to work (otherwise you will be stuck in the configuration screen).
	</p>
	
	<p class="para">
		Windows 7 is not supported (but can be made to work if anyone wants it).
	</p>
	
	<Heading Title="Advantages over deprecated tools" Level="2" />
	
	<ul class="pl-4">
		<li class="list-disc">A single application instead of three separate ones.</li>
		<li class="list-disc">Cross-platform; already runs on Linux, but it's still missing some native implementations for now. Support for Mac is also possible if anyone wants it, I just don't have a Mac to test it on so I'd need some help with that.</li>
		<li class="list-disc">Automatic updates; there is now a separate launcher program (3 MB download for now) which automatically updates the app on launch.</li>
		<li class="list-disc">Way smaller download size; 8 MB for all the tools combined instead of ~165 MB. No prerequisites needed.</li>
		<li class="list-disc">Way faster startup time compared to the previous editors.</li>
	</ul>
	
	<Heading Title="New Features" Level="2" />
	
	<Heading Title="Survival Editor" Level="3" />
	
	<ul class="pl-4">
		<li class="list-disc">3D arena viewer (will be an editor later).</li>
		<li class="list-disc">Improved arena shrink preview (also in 3D).</li>
		<li class="list-disc">Full undo/redo support.</li>
		<li class="list-disc">More arena actions.</li>
	</ul>
	
	<Heading Title="Custom Leaderboards" Level="3" />
	
	<ul class="pl-4">
		<li class="list-disc">Viewing and installing all spawnsets with leaderboards from within the app (no need to use the Survival Editor anymore).</li>
		<li class="list-disc">Viewing any score from any spawnset.</li>
		<li class="list-disc">Injecting any replay into the game without having to play the spawnset first.</li>
		<li class="list-disc">3D simulation of the replay in the app (very limited and inaccurate for now).</li>
	</ul>

	<Heading Title="Planned Features" Level="2" />
	
	<p class="para">
		Most of these will make it in before the release.
	</p>
	
	<ul class="pl-4">
		<li class="list-disc">More spawnset editor features.</li>
		<li class="list-disc">Renewed spawnset manager.</li>
		<li class="list-disc">Dedicated and simplified practice functionality.</li>
		<li class="list-disc">Renewed asset editor.</li>
		<li class="list-disc">Renewed mod manager.</li>
		<li class="list-disc">Renewed replay viewer.</li>
		<li class="list-disc">Replay editing.</li>
		<li class="list-disc">Replay input visualization.</li>
		<li class="list-disc">Replay enemy tracking.</li>
		<li class="list-disc">Replay movement and the ability to compare speedrun/race replays using a ghost system in 3D (right now I'm uncertain if mimicking the player movement can be done accurately without having access to the game's code).</li>
	</ul>
	
	<RunInfo />
	
	<Heading Title="Source" Level="2" />
	
	<p class="para">The source code can be found in the <a class="link" href="https://github.com/NoahStolk/DevilDaggersInfo" target="_blank">DevilDaggersInfo monorepo on GitHub</a>, in the directories src/app, src/app-core, and src/app-ui (for now).</p>

	<p class="para">The tools run on my own game/UI engine which can also be found on <a class="link" href="https://github.com/NoahStolk/Warp.NET" target="_blank">GitHub</a>.</p>

	<Versions ToolVersions="GetTool.Changelog" />
}

@code
{
	public GetTool? GetTool { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetTool = await Http.GetTool("ddinfo-tools");
	}
}
