@using DevilDaggersInfo.Core.Mod

@if (_binary == null)
{
	<div>Select mod</div>
}
else
{
	<ul>
		@foreach (ModBinaryChunk chunk in _binary.Chunks)
		{
			<li>@chunk.AssetType - @chunk.Name</li>
		}
	</ul>
}

<button @onclick="ReadBinary">Load</button>
