@page
@model DevilDaggersWebsite.Pages.CustomLeaderboards.IndexModel
@using DevilDaggersWebsite.Code.Utils
@{
	ViewData["Title"] = "Custom Leaderboards";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p class="text-center">
		Custom leaderboards are leaderboards for <a asp-page="/Spawnsets">custom spawnsets</a> hosted by DevilDaggers.info.
	</p>

	<form method="get">
		<select class="select form-control" asp-for="Category" asp-items="Model.CategoryListItems" onchange="this.form.submit()"></select>
	</form>

	<h2>@Model.Category.Name category</h2>
	@await Html.PartialAsync("Partials/_CustomLeaderboardTablePartial", Model.Leaderboards)

	<h2>FAQ</h2>
	<div class="faq-question">How do I participate?</div>
	<div class="faq-answer">
		You will need the <a asp-page="/Tools/DevilDaggersCustomLeaderboards">Devil Daggers Custom Leaderboards program</a>, also known as DDCL.<br />
	</div>

	<div class="faq-question">How do I get my spawnset a leaderboard?</div>
	<div class="faq-answer">
		If you think your spawnset should have a leaderboard, send an email to <a href="mailto:@RazorUtils.ContactEmail">@RazorUtils.ContactEmail</a>. The spawnset should meet some requirements:<br />
		<ul>
			<li>Must have an endloop (spawnsets without an endloop, also known as "challenges", might get separate "leaderboards" (more like a list of people who have completed it) in the future).</li>
			<li>Must be more or less original (especially the endloop should be unique).</li>
			<li><span class="bronze" style="background-position-y: 3px;">Bronze</span>, <span class="silver" style="background-position-y: 3px;">Silver</span>, <span class="golden" style="background-position-y: 3px;">Golden</span>, and <span class="devil" style="background-position-y: 3px;">Devil</span> times should be specified and need to be possible, though you can make them very difficult to achieve if you wish.</li>
			<li>Optionally, you can specify an additional <span class="homing" style="background-position-y: 3px;">Homing</span> time (even though this is kind of a joke, the time should still be somewhat achievable).</li>
		</ul>
	</div>

	<div class="faq-question">How does it work?</div>
	<div class="faq-answer">
		The program constantly scans the 'dd.exe' process for certain values stored in memory.<br />
		It can detect a bunch of values, as well as which spawnset you're playing.<br />
		When the player dies, it uploads those values to a leaderboard based on the spawnset.<br />
		Sounds easy? It's actually pretty complicated, scanning another process's memory is not really a common task for an application. This is why DDCL might sometimes be inaccurate.<br />
		Testing helps me a lot, I'd like to thank everyone who helped testing DDCL, and I'd especially like to thank Bintr for helping me figure out and explaining how to do this in the first place.
	</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/custom-leaderboards.css' />
}