@page "/"
@inherits FluxorComponent
@using DevilDaggersInfo.Types.Core.Mods

<h1>Editor</h1>

@if (AddingNewAsset)
{
	<CascadingValue Value="this">
		<AddAsset />
	</CascadingValue>
}
else
{
	<button class="btn btn-gray w-32 pb-1" @onclick="() => StateFacade.NewBinary(ModBinaryType.Audio)">New 'audio'</button>
	<button class="btn btn-gray w-32 pb-1" @onclick="() => StateFacade.NewBinary(ModBinaryType.Dd)">New 'dd'</button>
	<button class="btn btn-gray w-32 pb-1" @onclick="() => StateFacade.OpenBinary()">Open</button>
	<button class="btn @(BinaryEditorState.Value.IsEmpty ? "btn-disabled" : "btn-gray") w-32 pb-1" @onclick="SaveBinary" disabled="@BinaryEditorState.Value.IsEmpty">Save</button>
	<button class="btn @(BinaryEditorState.Value.IsEmpty ? "btn-disabled" : "btn-gray") w-32 pb-1" @onclick="SaveBinaryAs" disabled="@BinaryEditorState.Value.IsEmpty">Save as</button>

	<CascadingValue Value="this">
		<BinaryEditor />
	</CascadingValue>
}
