@page "/"

<div class="grid grid-cols-2">
	<span>Marker:</span>
	<span>@_marker</span>

	<span>Recording:</span>
	<span>@_isRecording</span>
</div>

<Recording Block="ReaderService.MainBlock" BlockPrevious="ReaderService.MainBlockPrevious" />
