@inherits LayoutComponentBase

<div class="flex flex-col sm:flex-row relative">
	<div class="sticky top-0 bg-gradient-to-b from-dark-red to-dark-red sm:to-black sm:width-64 sm:h-screen">
		<NavMenu />
	</div>

	<div class="flex-1 content px-4">
		@Body
	</div>
</div>
