@page "/LeaderboardHistory"
@inject ApplicationDbContext DbContext
@inject IWebHostEnvironment Env
@using Microsoft.AspNetCore.Hosting
@using Newtonsoft.Json
@using System.IO
@using System.Text

<h1>Leaderboard History</h1>

@if (_isLoading)
{
	<LoadingState />
}
else
{
	<LeaderboardTable Leaderboard="@_leaderboard" Players="_players" />
}

@code {
	private List<Player> _players = new();
	private Dto.Leaderboard _leaderboard = new();

	private DateTime _dateTime;

	private bool _isLoading;

	protected override async Task OnInitializedAsync()
	{
		_isLoading = true;
		_players = await DbContext.Players.ToListAsync();

		//string jsonFileName = $"{_dateTime:yyyyMMddHHmm}.json";
		string jsonFileName = $"201701140000.json";
		_leaderboard = JsonConvert.DeserializeObject<Dto.Leaderboard>(File.ReadAllText(Path.Combine(Env.WebRootPath, "leaderboard-history", jsonFileName), Encoding.UTF8));
		_isLoading = false;
	}
}
