@page "/LeaderboardStatistics"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@using DevilDaggersWebsite.LeaderboardStatistics

<h1>Leaderboard Statistics</h1>
<p>
	This page contains some global statistics from the leaderboard. The page is still a work in progress.
</p>
<p>
	@{
		if (_initialized)
		{
			@:Statistics were last fetched on @(string.IsNullOrWhiteSpace(StatisticsDataHolder.Instance.FileName) ? "..." : @HistoryUtils.HistoryJsonFileNameToDateTime(StatisticsDataHolder.Instance.FileName)).
		}
		else
		{
			@:Statistics not initialized.
		}
	}
</p>

@if (_initialized)
{
	<h2>Scores</h2>

	<div class="chart" id="scores-chart">
		<table class="highlighter" id="scores-highlighter">
			<tr><td>Score</td><td id="h-score"></td></tr>
			<tr><td>Amount</td><td id="h-score-count"></td></tr>
			<tr><td>Percentage</td><td id="h-score-percentage"></td></tr>
		</table>
	</div>

	<h2>Daggers</h2>
	<div class="chart" id="daggers-chart">
		<table class="highlighter" id="daggers-highlighter">
			<tr><td>Dagger</td><td id="h-dagger"></td></tr>
			<tr><td>Amount</td><td id="h-dagger-count"></td></tr>
			<tr><td>Percentage</td><td id="h-dagger-percentage"></td></tr>
		</table>
	</div>

	<h2>Death types</h2>
	<div class="chart" id="death-types-chart">
		<table class="highlighter" id="death-types-highlighter">
			<tr><td>Death</td><td id="h-death"></td></tr>
			<tr><td>Amount</td><td id="h-death-count"></td></tr>
			<tr><td>Percentage</td><td id="h-death-percentage"></td></tr>
		</table>
	</div>
}

@code {
	private bool _initialized;

	protected override void OnInitialized()
	{
		_initialized = !string.IsNullOrWhiteSpace(StatisticsDataHolder.Instance.FileName);
	}
}
