<li class="pl-3 py-1 text-xl">
	<div class="cursor-pointer select-none" @onclick="() => _collapse = !_collapse">
		<Icon Type="@(_collapse ? "chevron-right" : "chevron-bottom")" Text="@Text" />
	</div>
	@if (!_collapse)
	{
		<ul class="pl-1 pt-1">
			@ChildContent
		</ul>
	}
</li>

@code
{
	private bool _collapse = true;

	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public string Text { get; set; } = null!;
}
