@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'goethe';
		src: url('fonts/goethebold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'calibri';
		font-weight: 500;
		src: url('fonts/calibri-regular.ttf') format('truetype');
	}
}

.validation-errors {
	color: red;
}

#blazor-error-ui {
	background: lightyellow;
	color: black;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}

.leviathan {
	background-image: url('../images/misc/leviathan-background.png');
	background-repeat: repeat;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #A50020;
	-webkit-animation: leviathan-background-animation 3s linear infinite;
	animation: leviathan-background-animation 3s linear infinite;
}

@-webkit-keyframes leviathan-background-animation {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 0px 128px;
	}
}

@keyframes leviathan-background-animation {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 0px 128px;
	}
}

.devil {
	background: linear-gradient(#FF3A2A 40%, #AB1407 50%, #4F0400 51%, #B2281D);
	background-repeat: repeat-x;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #AB1407;
}

.golden {
	background: linear-gradient(#FFFA96 40%, #D68A10 50%, #3A2014 51%, #A87E25);
	background-repeat: repeat-x;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #D68A10;
}

.silver {
	background: linear-gradient(#E8E8E8 40%, #666F75 50%, #242627 51%, #989794);
	background-repeat: repeat-x;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #E8E8E8;
}

.bronze {
	background: linear-gradient(#CCB7A1 40%, #4A2F21 50%, #2E2521 51%, #654B35);
	background-repeat: repeat-x;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #CCB7A1;
}

.default {
	background: linear-gradient(#696969 40%, #202020 60%, #202020);
	background-repeat: repeat-x;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #696969;
}

.highlight.leviathan:hover,
.highlight.bronze:hover,
.highlight.default:hover {
	filter: brightness(150%) saturate(150%);
}

.highlight.devil:hover,
.highlight.golden:hover,
.highlight.silver:hover {
	filter: brightness(200%) saturate(200%);
}
