@inherits InputBase<TKey>
@typeparam TKey

<OutsideClickHandler OnClickOutside="OnClickOutside" CssClass="inline-block w-64 bg-gray-1 text-color-text cursor-pointer">
	<div class="grid grid-cols-8">
		<span class="input-list-opener col-span-7" @onclick="e => _show = !_show">@SelectedDisplayValue</span>
		<span class="input-list-button" @onclick="e => HandleSelect(default)">✕</span>
	</div>
	<div class="@(_show ? "absolute" : "hidden") z-10">
		<div class="input-list-border">
			<ul class="input-list">
				@foreach (KeyValuePair<TKey, string> kvp in Values)
				{
					<li class="input-list-entry" @onclick="e => HandleSelect(kvp.Key)">@DisplayValue(kvp.Key)</li>
				}
			</ul>
		</div>
	</div>
</OutsideClickHandler>
