@using DevilDaggersInfo.Web.Shared.Dto.Public.Tools
@using DevilDaggersInfo.Web.Shared.Enums
<div class="bg-gray-1 max-w-sm">
	<DataField CssClass="px-1" Left="3" Name="Current version">@GetTool.VersionNumber</DataField>
	<DataField CssClass="px-1" Left="3" Name="Oldest supported version">@GetTool.VersionNumberRequired</DataField>
	<DataField CssClass="px-1" Left="3" Name="@($"Total downloads (since {FeatureConstants.TrackingToolDownloadCounts.ToString(StringFormats.DateFormat)})")">@GetTool.Changelog?.Sum(v => v.DownloadCount).ToString("N0")</DataField>
</div>

@code
{
	[Parameter, EditorRequired] public GetTool GetTool { get; set; } = null!;
}
