@inherits FluxorLayout

<div class="font-calibri bg-black text-color-text h-full pl-2">
	<a href="/" class="btn btn-gray">Viewer</a>
	<a href="/about" class="btn btn-gray">About</a>

	<div class="py-1">
		<span class="font-bold bg-[#600] p-1 text-lg">ALPHA NOTICE: DDRE is currently in a very early build and everything is still subject to change. The program claims to be an 'editor' but no editing functionality currently exists.</span>
	</div>

	@Body
</div>
