.enemies-summary {
	max-width: 100%;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

	.enemies-summary > div {
		flex-direction: row;
	}

		.enemies-summary > div > div {
			padding-right: 8px;
		}

@media (min-width: 1200px) {
	.enemies-summary > div > div {
		width: 20%;
		max-width: 20%;
	}

		.enemies-summary > div > div:nth-child(2),
		.enemies-summary > div > div:nth-child(3) {
			width: 10%;
			max-width: 10%;
		}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.enemies-summary > div > div:nth-child(1) {
		width: 26.5%;
		max-width: 26.5%;
	}

	.enemies-summary > div > div:nth-child(2) {
		width: 7%;
		max-width: 7%;
	}

	.enemies-summary > div > div:nth-child(3) {
		width: 8%;
		max-width: 8%;
	}

	.enemies-summary > div > div:nth-child(4) {
		width: 22%;
		max-width: 22%;
	}

	.enemies-summary > div > div:nth-child(5) {
		width: 36.5%;
		max-width: 36.5%;
	}
}

.enemy-container {
	flex-direction: row;
	flex-wrap: wrap;
}

.enemy {
	width: 380px;
	padding: 8px;
	margin: 8px;
}

.enemy-row {
	flex-direction: row;
	justify-content: space-between;
}

	.enemy-row > div {
		flex-grow: 1;
	}
