.logo {
	max-width: 192px;
	max-height: 192px;
	margin: 0 0 16px;
}

.home-title > h1 {
	font-size: 52px;
}

.home-section-container {
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	padding: 0;
	color: var(--col-default-text);
	position: relative;
	overflow: hidden;
	height: 300px;
}

	.home-section-container:hover .home-section-image {
		transform: scale(1.1);
	}

.home-section-image {
	object-fit: fill;
	transition: all 0.25s ease-in-out;
	position: relative;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.home-section-container {
		height: 52vw;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.home-section-container {
		height: 26vw;
	}
}

@media (min-width: 1200px) {
	.home-section-container {
		height: 13vw;
	}
}

.home-section-text {
	position: absolute;
	width: 100%;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
}

.overlay-block {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: all 0.25s ease-in-out;
	background-color: rgba(255, 0, 0, 0.2);
	overflow: hidden;
}

.home-section-container:hover .overlay-block {
	opacity: 1;
	cursor: pointer;
}
