version: 2
updates:
  - package-ecosystem: nuget
    directory: "/src"
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: "/src/web/DevilDaggersInfo.Web.Client"
    schedule:
      interval: daily
