@page "/about"
@using DevilDaggersInfo.Razor.Core.AssetEditor.Utils

<h1>About Devil Daggers Asset Editor</h1>

<p>
	Version @AssemblyUtils.Version
</p>
<p>
	Developed by <a class="link" href="//noahstolk.com">Noah Stolk</a>
</p>
<p>
	Devil Daggers Asset Editor is part of the <a class="link" href="//devildaggers.info">devildaggers.info</a> project.
</p>
<p>
	<a class="link" href="//github.com/NoahStolk/DevilDaggersInfo">View source code</a>
</p>
