@page "/about"
@using DevilDaggersInfo.Razor.Core.AssetEditor.Utils

<p class="para text-xl">
	Devil Daggers Asset Editor @AssemblyUtils.Version
</p>
<p class="para">
	Developed by <a class="link" href="//noahstolk.com">Noah Stolk</a>
</p>
<p class="para">
	Devil Daggers Asset Editor is part of the <a class="link" href="//devildaggers.info">devildaggers.info</a> project.
</p>
<p class="para">
	<a class="link" href="//github.com/NoahStolk/DevilDaggersInfo">View source code</a>
</p>
