@page "/"
@using DevilDaggersInfo.Core.Mod.Enums

<h1>Editor</h1>

@if (AddingNewAsset)
{
	<CascadingValue Value="this">
		<AddAsset />
	</CascadingValue>
}
else
{
	<button class="btn btn-gray w-32 pb-1" @onclick="() => NewBinary(ModBinaryType.Audio)">New 'audio'</button>
	<button class="btn btn-gray w-32 pb-1" @onclick="() => NewBinary(ModBinaryType.Dd)">New 'dd'</button>
	<button class="btn btn-gray w-32 pb-1" @onclick="OpenBinary">Open</button>
	<button class="btn btn-gray w-32 pb-1" @onclick="SaveBinary">Save</button>

	<CascadingValue Value="this">
		<BinaryEditor />
	</CascadingValue>
}
