<div class="text-center">
	<Tooltip Text="@TooltipText"><img class="cursor-pointer inline-block" src="@IconImageSrc" /></Tooltip>
	@ChildContent
</div>

@code
{
	[Parameter]
	[EditorRequired]
	public required string TooltipText { get; set; }
	
	[Parameter]
	[EditorRequired]
	public required string IconImageSrc { get; set; }
	
	[Parameter]
	public required RenderFragment ChildContent { get; set; }
}
