@page
@model IndexModel
@{
	ViewData["Title"] = "AdminTests";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<form method="post">
		<input type="submit" value="TestBot" asp-page-handler="TestBot" />
		<br />
		<input type="submit" value="TestException" asp-page-handler="TestException" />
		<br />
		<input type="submit" value="UpdateStatisticsDataHolder" asp-page-handler="UpdateStatisticsDataHolder" />
		<br />
		<input type="submit" value="ClearSpawnsetHashCache" asp-page-handler="ClearSpawnsetHashCache" />
		<br />
		<input type="submit" value="ClearLeaderboardHistoryCache" asp-page-handler="ClearLeaderboardHistoryCache" />
	</form>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
