@page
@model IndexModel
@{
	ViewData["Title"] = "AdminTests";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<form method="post">
		<input class="btn" type="submit" value="TestBot" asp-page-handler="TestBot" />
		<br />
		<input class="btn" type="submit" value="TestException" asp-page-handler="TestException" />
		<br />
		<input class="btn" type="submit" value="InitiateLeaderboardStatisticsCache" asp-page-handler="InitiateLeaderboardStatisticsCache" />
		<br />
		<input class="btn" type="submit" value="ClearSpawnsetHashCache" asp-page-handler="ClearSpawnsetHashCache" />
		<br />
		<input class="btn" type="submit" value="ClearLeaderboardHistoryCache" asp-page-handler="ClearLeaderboardHistoryCache" />
		<br />
		<input class="btn" type="submit" value="ClearSpawnsetDataCache" asp-page-handler="ClearSpawnsetDataCache" />
		<br />
		<input class="btn" type="submit" value="ClearModDataCache" asp-page-handler="ClearModDataCache" />
		<br />
		<input class="btn" type="submit" value="LogCaches" asp-page-handler="LogCaches" />
		<br />
		<input class="btn" type="submit" value="TestColors" asp-page-handler="TestColors" />
	</form>

	<a asp-page="BinaryNames">Names</a>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
