@page
@model TestBotModel
@{
	ViewData["Title"] = "Admin - TestBox";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-left">
	<a asp-page="/Admin/Index">Admin home</a>
	<p>
		Bot message should be sent in dev channel.
	</p>
</main>