@page
@model DevilDaggersWebsite.Razor.Pages.Admin.AdminTests.UpdateStatisticsDataHolderModel
@{
	ViewData["Title"] = "Admin - UpdateStatisticsDataHolder";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-left">
	<a asp-page="/Admin/Index">Admin home</a>
	<p>
		Statistics should be updated.
	</p>
</main>
