root = true

# All files
[*]
charset                  = utf-8
indent_style             = tab
insert_final_newline     = true
trim_trailing_whitespace = true

[*.{csproj,pubxml,yml}]
indent_style = space
indent_size  = 2

[*.cs]
indent_size = 4
