root = true

# All files
[*]
charset              = utf-8
indent_style         = tab
insert_final_newline = true

[*.{csproj,pubxml}]
indent_style = space
indent_size  = 2

[*.fs]
indent_style = space

[*.cs]
indent_size                                                              = 4
trim_trailing_whitespace                                                 = true
