@using DevilDaggersInfo.Core.Spawnset
@using DevilDaggersInfo.Razor.Core.CanvasArena.Components
@using DevilDaggersInfo.Razor.Core.CanvasArena.Utils

<WebAssemblySpawnsetArena SpawnsetBinary="SpawnsetBinary" CurrentTime="_currentTime" />

<div class="max-w-arena-table">Time: @((_currentTime + SpawnsetBinary.TimerStart).ToString("0.0"))</div>
<div class="max-w-arena-table">
	<input class="w-full slider" type="range" min="0" max="@_sliderMax" step="0.1" @bind="@_currentTime" @bind:event="oninput" />
</div>

@code {
	private float _sliderMax;
	private float _currentTime;

	[Parameter]
	[EditorRequired]
	public SpawnsetBinary SpawnsetBinary { get; set; } = null!;

	protected override void OnInitialized()
	{
		_sliderMax = SliderUtils.GetSliderMaxSeconds(SpawnsetBinary);
	}
}
