@if (OpenInNewTab)
{
	<a class="text-color-link hover:text-color-link-hover" href="@Href" target="_blank">@ChildContent</a>
}
else
{
	<a class="text-color-link hover:text-color-link-hover" href="@Href">@ChildContent</a>
}

@code
{
	[Parameter, EditorRequired] public string Href { get; set; } = null!;
	[Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public bool OpenInNewTab { get; set; }
}
