@switch (Level)
{
	case 4: <h4 class="text-red text-lg pt-4 pb-2 font-goethe">@ChildContent</h4> break;
	case 3: <h3 class="text-red text-xl pt-4 pb-2 font-goethe">@ChildContent</h3> break;
	case 2: <h2 class="text-red text-2xl pt-4 pb-2 font-goethe">@ChildContent</h2> break;
	default: <h1 class="text-red text-4xl pt-4 pb-2 font-goethe">@ChildContent</h1> break;
}

@code {
	[Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;

	[Parameter] public int Level { get; set; } = 1;
}
