<span class="oi oi-@Type pr-1 w-6 text-center" aria-hidden="true"></span> <span class="transition-opacity duration-150 ease-in-out @(RenderText ? "opacity-100" : "opacity-0")">@Text</span>

@code {
	[Parameter, EditorRequired] public string Type { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
	[Parameter, EditorRequired] public bool RenderText {  get;  set; }
}
