<span style="@_deathStyle" class="font-goethe text-lg">@_deathName</span>

@code {
	[Parameter, EditorRequired] public byte DeathType { get; set; }
	[Parameter] public GameVersion GameVersion { get; set; } = GameVersion.V3_1;

	private string _deathStyle;
	private string _deathName;

	protected override void OnInitialized()
	{
		Death? death = Deaths.GetDeathByLeaderboardType(GameVersion, DeathType);
		_deathStyle = $"color: {(death?.Color.HexCode ?? "#444")};";
		_deathName = death?.Name ?? "Unknown";
	}
}
