@using DevilDaggersInfo.Core.Spawnset.View

@if (!SpawnsView.HasPreLoopSpawns && !SpawnsView.HasLoopSpawns)
{
	<div>This spawnset has no spawns.</div>
}
else
{
	<div class="max-w-xl">
		<div class="grid gap-3 grid-cols-4 font-goethe text-lg">
			<div class="text-right">Time</div>
			<div>Enemy</div>
			<div class="text-right">Gems (no farm)</div>
			<div class="text-right">Total gems</div>
		</div>

		@if (SpawnsView.HasPreLoopSpawns)
		{
			foreach (SpawnView sv in SpawnsView.PreLoop)
			{
				<Spawn SpawnView=sv GameVersion=GameVersion />
			}
		}

		@if (SpawnsView.HasLoopSpawns)
		{
			for (int i = 0; i < SpawnsView.Waves.Length; i++)
			{
				<div class="font-goethe text-xl bg-dark-red">WAVE @(i + 1)</div>
				@foreach (SpawnView sv in SpawnsView.Waves[i])
				{
					<Spawn SpawnView=sv GameVersion=GameVersion />
				}
			}
		}
	</div>
}

@code
{
	[Parameter, EditorRequired] public SpawnsView SpawnsView { get; set; } = null!;

	[Parameter] public GameVersion GameVersion { get; set; } = GameConstants.CurrentVersion;
}
