.tooltip {
	display: inline;
	position: relative;
}

	.tooltip:hover:after {
		background: rgba(16, 16, 16, .8);
		border-radius: 5px;
		bottom: 26px;
		color: #fff;
		content: attr(title);
		text-decoration: none;
		padding: 6px;
		left: 50%;
		position: absolute;
		pointer-events: none;
	}

	.tooltip:hover:before {
		bottom: 20px;
		content: "";
		left: 50%;
		position: absolute;
		pointer-events: none;
	}

	.tooltip.center:hover:after {
		transform: translateX(-50%);
	}

	.tooltip.center:hover:before {
		transform: translateX(-50%);
	}

	.tooltip.left:hover:after {
		transform: translateX(calc(-100% + 16px));
	}

	.tooltip.left:hover:before {
		transform: translateX(calc(-100% + 16px));
	}

	.tooltip.right:hover:after {
		transform: translateX(-16px);
	}

	.tooltip.right:hover:before {
		transform: translateX(-16px);
	}
