<span class="tooltip font-calibri text-base" title="@(Text)">
	@ChildContent
</span>

@code {
	[Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
}
