<span style="white-space:nowrap" class="tooltip font-calibri" title="@(Text)">
	@ChildContent
</span>

@code {
	[Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
}
