<div class="bg-gray-0b px-2 pb-2">
	<Heading Level=2>@Title</Heading>
	@ChildContent
</div>

@code
{
	[Parameter, EditorRequired] public string Title { get; set; } = null!;
	[Parameter, EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
}
