@page "/"
@using DevilDaggersInfo.Razor.AppManager.Services
@using DevilDaggersInfo.Razor.AppManager.Store.State
@using Fluxor
@inherits FluxorComponent
@inject StateFacade StateFacade
@inject IState<ManagerState> ManagerState

<div class="grid cols-2">
	<span>Installation directory</span>
	<span>@ManagerState.Value.InstallationDirectory</span>
</div>
