@page
@model DevilDaggersWebsite.Pages.SpawnsModel
@using DevilDaggersWebsite.Utils
@{
	ViewData["Title"] = "Spawns";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<p>
		These are the official spawn times for Devil Daggers V3.
	</p>
	<p>
		@RazorUtils.GetLayout("Note that Centipedes, Gigapedes, Ghostpedes, and Thorns emerge around 3 seconds later than their actual spawn time.")
	</p>

	@await Html.PartialAsync("Partials/_SpawnsPartial", Model.V3Path)
</main>