@page "/"

<h1><img src="/images/dagger.png" width="40" height="40" class="logo" />Devil Daggers Info</h1>

<p>
	Accurate and up-to-date information about the game <a href="http://store.steampowered.com/app/422970/Devil_Daggers/">Devil Daggers</a>.
</p>
<p>
	This is a fan-made website; the creator of this website is not related to the developers of Devil Daggers.<br />
	Devil Daggers is a game created by Sorath.<br />
	<a href="http://devildaggers.com/">www.devildaggers.com</a> is the official website for Devil Daggers.
</p>
<p>
	The main purpose of this website is to help players find more accurate information about the game, like enemy types, hand upgrades, and spawn times. It also comes with a complete leaderboard where you can view any score without having to open the game, as well as a history database of the leaderboard, a world record progression graph, and a lot more. There is also a bunch of custom spawnsets created and shared by the community that you can play.
</p>
<p>
	I first launched this website in early 2017 as a hobby project. It started as a simple leaderboard page, later I added wiki pages and began hosting <a asp-page="/Spawnsets">custom spawnsets</a>. I developed a <a asp-page="/Tools/DevilDaggersSurvivalEditor">spawnset editor</a> to create spawnsets, and some time later created and began hosting <a asp-page="/CustomLeaderboards/Index">custom leaderboards</a>. There is even the possibility to create <a asp-page="/Mods">mods</a> using the <a asp-page="/Tools/DevilDaggersAssetEditor">asset editor</a> now.
</p>
<p>
	All of this would not have been possible without such a dedicated and helpful community. Thank you.
</p>
@*<p>
		Feel free to join the <a href="@RazorUtils.DiscordUrl" target="_blank">Discord server</a>.
	</p>*@