<p>
	<input />
</p>
<p>
	Showing results for "@_search"
</p>

<LeaderboardTable Leaderboard="@_leaderboard" Players="Players" />

@code {
	private Core.Dto.Leaderboard _leaderboard = new Core.Dto.Leaderboard();

	private string _search = string.Empty;

	[Parameter]
	public List<Player> Players { get; set; } = new List<Player>();

	protected override async Task OnInitializedAsync()
	{
		await FetchLeaderboard(_search);
	}

	private async Task FetchLeaderboard(string search)
	{
		_leaderboard = await DdHasmodaiClient.GetUserSearch(_search);
	}
}