@page "/Leaderboard"
@inject ApplicationDbContext DbContext

<p>
	<button class="btn btn-primary" @onclick="@(e => UpdateState(LeaderboardState.Rank))">
		Ranks
	</button>
	<button class="btn btn-primary" @onclick="@(e => UpdateState(LeaderboardState.Username))">
		Search
	</button>
	<button class="btn btn-primary" @onclick="@(e => UpdateState(LeaderboardState.UserId))">
		UserId
	</button>
</p>
<p class="visible-xs visible-sm visible-md">
	On mobile devices; tap on an entry to expand it.
</p>
<p>
	@*If you'd like to add your nationality (flag) to this leaderboard, let one of the <img src="~/images/Icons/eye3.png" /> <a href="@RazorUtils.DiscordUrl">Discord</a> mods know.*@
</p>
<p>
	You can sort the leaderboard by clicking the headers.
</p>
<p>
	<span class="ban leaderboard-username">Crossed out entries</span> are runs that are cheated, boosted, submitted on an alternative account, or otherwise considered invalid.
</p>

@{
	if (State == 0)
	{
		<LeaderboardRanks Players="_players" />
	}
}

@code {
	private List<Player> _players;

	protected override void OnInitialized()
	{
		_players = DbContext.Players.ToList(); ;
	}

	private LeaderboardState State { get; set; }

	public void UpdateState(LeaderboardState state)
	{
		State = state;
	}

	public enum LeaderboardState
	{
		Rank,
		Username,
		UserId,
	}
}