<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://devildaggers.info</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>43297161-4f0d-413f-8961-8678b9f3dffb</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://web18.foxxl.com</MSDeployServiceURL>
    <DeployIisAppPath>devildaggers.info</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>dicedpilot</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>net5.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
  </PropertyGroup>
  <ItemGroup>
    <Content Update="wwwroot\css-site\**\*" CopyToPublishDirectory="Never" />
    <Content Update="wwwroot\js-site\**\*" CopyToPublishDirectory="Never" />
    <Content Update="wwwroot\mods\**\*" CopyToPublishDirectory="Never" />
    <Content Update="wwwroot\mod-screenshots\**\*" CopyToPublishDirectory="Never" />
    <Content Update="wwwroot\spawnsets\**\*" CopyToPublishDirectory="Never" />
  </ItemGroup>
</Project>
