@page "/guides/using-spawnsets"
@using DevilDaggersInfo.Web.Client.Components

<Heading Title="How To Use Spawnsets" />

<p class="para">
	A spawnset (also known as a <b>survival</b> file) is a file that mainly consists of a set of enemy spawns and the shape of the arena. It can be used for practicing the main game.
</p>

<Heading Level="2" Title="How To Play A Custom Spawnset" />

<ol class="pl-4">
	<li class="list-decimal">Download a spawnset you want to play. Spawnsets can be found on <a class="link" href="/custom/spawnsets">this page</a>.</li>
	<li class="list-decimal">Navigate to the <span class="path">mods</span> folder where Devil Daggers is installed. On Windows, this is <span class="path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers\mods</span> by default if you are using Steam. In this folder, there should be a file named <span class="path">put mods here.txt</span>.</li>
	<li class="list-decimal">Place the downloaded spawnset file in the <span class="path">mods</span> folder.</li>
	<li class="list-decimal">Rename the downloaded spawnset file to <span class="path">survival</span>.</li>
</ol>

<p class="para">
	You can also use <a class="link" href="/tools/survival-editor">Devil Daggers Survival Editor</a> to replace spawnsets:
</p>

<ol class="pl-4">
	<li class="list-decimal">Press <span class="code">Ctrl I</span> to open the list of spawnsets from the website in the editor.</li>
	<li class="list-decimal">Click on the spawnset you want to play.</li>
	<li class="list-decimal">Click "Yes" when the editor asks if you want to replace the currently active custom spawnset with the downloaded one. If it doesn't (this depends on your settings), press <span class="code">Ctrl R</span> to replace the file.</li>
</ol>

<p class="para">
	You can now play the custom spawnset. The custom spawnset is reloaded every time you restart a run, or grab the dagger in the lobby. There is no need to restart the game when changing the spawnset.
</p>

<Heading Level="3" Title="Important Notes" />
<ul class="pl-4">
	<li class="list-disc">Make sure you do <b>not</b> have a <b>folder</b> named <span class="path">survival</span> in the <span class="path">mods</span> folder.</li>
	<li class="list-disc">Make sure you do <b>not</b> replace, delete, modify, or do anything with the <span class="path">survival</span> file in the <b><span class="path">dd</span> folder</b>.</li>
	<li class="list-disc">When using <a class="link" href="/tools/survival-editor">Devil Daggers Survival Editor</a>, make sure to specify the correct <b>Devil Daggers root folder</b> in the editor settings (under Options > Settings).</li>
</ul>

<Heading Level="2" Title="How To Go Back To The Main Game" />

<p class="para">
	Simply delete the <span class="path">survival</span> file in the <span class="path">mods</span> folder. Using <a class="link" href="/tools/survival-editor">Devil Daggers Survival Editor</a>, you can press <span class="code">Ctrl D</span> to delete the file.
</p>

<p class="para">
	If the game doesn't submit anymore, you either still have a <span class="path">survival</span> file in the <span class="path">mods</span> folder, or you have modified the <span class="path">survival</span> file in the <span class="path">dd</span> folder.
</p>

<p class="para">
	In order to check the validity of the <span class="path">survival</span> file in the <span class="path">dd</span> folder, follow these steps:
</p>

<ol class="pl-4">
	<li class="list-decimal">Go to your Steam library.</li>
	<li class="list-decimal">Right-click on Devil Daggers.</li>
	<li class="list-decimal">Select "Properties...".</li>
	<li class="list-decimal">Select "LOCAL FILES".</li>
	<li class="list-decimal">Click "Verify integrity of game files...".</li>
</ol>

<Heading Level="2" Title="How To Submit To A Custom Leaderboard" />

<p class="para">
	Run the <a class="link" href="/tools">ddinfo tools</a> and click on the "Custom Leaderboards" button. The app will automatically scan game memory and submit scores.
</p>

<Heading Level="2" Title="FAQ" />

<div><em>Can I get banned for using custom spawnsets?</em></div>
<div class="mb-2"><strong>No, you can only get banned manually by the developer for submitting illegitimate runs to the official leaderboard.</strong></div>

<div><em>Can I override my real score using a custom spawnset?</em></div>
<div class="mb-2"><strong>No, the game only uploads runs done with the original V3 spawnset.</strong></div>

<div><em>How do I make my own spawnsets?</em></div>
<div class="mb-2"><strong>Check out <a class="link" href="/guides/creating-spawnsets">this guide</a>.</strong></div>
