<Heading Title="Source" Level="2" />
<p class="para">The source code can be found on <a class="link" href="@Url" target="_blank">GitHub</a>.</p>
<p class="para">The changelog can be found on <a class="link" href="@UrlChangelog" target="_blank">GitHub</a> as well.</p>

@code
{
	[Parameter]
	[EditorRequired]
	public required string Url { get; set; }
	
	[Parameter]
	[EditorRequired]
	public required string UrlChangelog { get; set; }
}
