@page
@inject CoreBase3.Services.ICommonObjects CommonObjects
@model DevilDaggersWebsite.Pages.Leaderboard.UserSettingsModel
@using DevilDaggersWebsite.Code.Utils
@{
	ViewData["Title"] = $"User Settings";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<div>
		<p class="visible-xs visible-sm visible-md">
			On mobile devices; tap on an entry to expand it.
		</p>
		<p>
			If you'd like to add or change your settings, let one of the <img src="~/images/Icons/eye3.png" /> <a href="@RazorUtils.DiscordUrl">Discord</a> mods know. (Only top 100 due to technical inconveniences.)
		</p>
		<p>
			You can sort the leaderboard by clicking the headers.
		</p>
	</div>

	@await Html.PartialAsync("Partials/_LeaderboardUserSettingsPartial")
</main>

@section Scripts {
	<script defer src='~/scripts/leaderboard-user-settings.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/styles/leaderboard.css' />
	<link rel='stylesheet' href='~/styles/leaderboard-rows-player-settings.css' />
}