@page
@using DevilDaggersWebsite.Models.Leaderboard
@using DevilDaggersWebsite.Utils
@using System.Text
@{
	ViewData["Title"] = "World Record Progression";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<div id="world-record-progression-chart" style="height: 750px; width: 100%;"></div>
</main>