@page "/custom/leaderboard/{Id:int}"
@inject PublicApiHttpClient Http
@using DevilDaggersWebsite.BlazorWasm.Shared.Dto.Public.CustomLeaderboards

<h1 class="text-red text-2xl">Custom Leaderboard</h1>

@if (GetCustomLeaderboard == null)
{
	<Loading />
}
else
{

}

@code
{
	[Parameter] public int Id { get; set; }

	public GetCustomLeaderboard? GetCustomLeaderboard { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetCustomLeaderboard = await Http.GetCustomLeaderboardById(Id);
	}
}
