@page
@using DevilDaggersWebsite.Dto.Admin
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Razor.PageModels
@model AdminEntityCreateOrEditPageModel<CustomEntry, AdminCustomEntry>

@{
	ViewData["Title"] = Model.IsEditing ? "Edit" : "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>CustomEntry</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@if (!Model.IsEditing)
			{
				<div class="form-group">
					<label asp-for="AdminDto.CustomLeaderboardId" class="control-label"></label>
					<select asp-for="AdminDto.CustomLeaderboardId" class="form-control" asp-items="Model.CustomLeaderboardList"></select>
					<span asp-validation-for="AdminDto.CustomLeaderboardId" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="AdminDto.PlayerId" class="control-label"></label>
					<input asp-for="AdminDto.PlayerId" class="form-control" />
					<span asp-validation-for="AdminDto.PlayerId" class="text-danger"></span>
				</div>
			}
			<div class="form-group">
				<label asp-for="AdminDto.Time" class="control-label"></label>
				<input asp-for="AdminDto.Time" class="form-control" />
				<span asp-validation-for="AdminDto.Time" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.GemsCollected" class="control-label"></label>
				<input asp-for="AdminDto.GemsCollected" class="form-control" />
				<span asp-validation-for="AdminDto.GemsCollected" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.EnemiesKilled" class="control-label"></label>
				<input asp-for="AdminDto.EnemiesKilled" class="form-control" />
				<span asp-validation-for="AdminDto.EnemiesKilled" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.DeathType" class="control-label"></label>
				<input asp-for="AdminDto.DeathType" class="form-control" />
				<span asp-validation-for="AdminDto.DeathType" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.DaggersHit" class="control-label"></label>
				<input asp-for="AdminDto.DaggersHit" class="form-control" />
				<span asp-validation-for="AdminDto.DaggersHit" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.DaggersFired" class="control-label"></label>
				<input asp-for="AdminDto.DaggersFired" class="form-control" />
				<span asp-validation-for="AdminDto.DaggersFired" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.EnemiesAlive" class="control-label"></label>
				<input asp-for="AdminDto.EnemiesAlive" class="form-control" />
				<span asp-validation-for="AdminDto.EnemiesAlive" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.HomingDaggers" class="control-label"></label>
				<input asp-for="AdminDto.HomingDaggers" class="form-control" />
				<span asp-validation-for="AdminDto.HomingDaggers" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.HomingDaggersEaten" class="control-label"></label>
				<input asp-for="AdminDto.HomingDaggersEaten" class="form-control" />
				<span asp-validation-for="AdminDto.HomingDaggersEaten" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.LevelUpTime2" class="control-label"></label>
				<input asp-for="AdminDto.LevelUpTime2" class="form-control" />
				<span asp-validation-for="AdminDto.LevelUpTime2" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.LevelUpTime3" class="control-label"></label>
				<input asp-for="AdminDto.LevelUpTime3" class="form-control" />
				<span asp-validation-for="AdminDto.LevelUpTime3" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.LevelUpTime4" class="control-label"></label>
				<input asp-for="AdminDto.LevelUpTime4" class="form-control" />
				<span asp-validation-for="AdminDto.LevelUpTime4" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.SubmitDate" class="control-label"></label>
				<input asp-for="AdminDto.SubmitDate" class="form-control" />
				<span asp-validation-for="AdminDto.SubmitDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="AdminDto.ClientVersion" class="control-label"></label>
				<input asp-for="AdminDto.ClientVersion" class="form-control" />
				<span asp-validation-for="AdminDto.ClientVersion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
