@page "/"

<h1>DevilDaggers.info</h1>

<p>
	Welcome to DevilDaggers.info, a website specifically made for the game <a href="//store.steampowered.com/app/422970/Devil_Daggers/">Devil Daggers</a>.
</p>
<img class="img-fluid logo" src="/images/home/logo.gif" />
<p>
	This is a fan-made website; the creator of this website is not related to the developers of Devil Daggers. Devil Daggers is a game created by Sorath, and <a href="//devildaggers.com/">devildaggers.com</a> is the official website for the game.
</p>
<p>
	I first launched this website in early 2017 as a small hobby project. It started as a simple leaderboard page, so people could view the leaderboard without opening the game. Later I added wiki pages for spawns, hand upgrades, enemy types, and dagger types. After that I began hosting custom spawnsets, which allow modifications of the enemy spawns and arena of the main game. I developed a <a asp-page="/Tools/DevilDaggersSurvivalEditor">spawnset editor</a> to create spawnsets more easily, and some time later created and began hosting <a asp-page="/CustomLeaderboards/Index">custom leaderboards</a> for them.
</p>
<p>
	Since then, I've expanded the project quite a bit, adding leaderboard history, world record progression, statistics, the possibility to mod the assets of the game, and much more.
</p>
<div class="row">
	@foreach ((string text, string imageUrl, string url) in _sections)
	{
		<a href="@url" class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			<div class="home-section-container">
				<div class="overlay-block"></div>
				<div class="home-section-text">@text</div>
				<img class="img-fluid home-section-image" src="/images/@imageUrl" />
			</div>
		</a>
	}
</div>
<p>
	All of this would not have been possible without such a dedicated and helpful community. Thank you.
</p>
<p>
	Feel free to join the <a href="@Constants.DiscordUrl" target="_blank">Discord server</a>.
</p>

@code
{
	private Section[] _sections = new Section[]
	{
		new("View the official leaderboard", "home/Leaderboard.png", "/Leaderboard"),
		new("Check out mods made by the community", "home/Mod.png", "/Mods"),
		new("Check out spawnsets made by the community", "home/Spawnset.png", "/Spawnsets"),
		new("Check out the asset editor which can be used to mod the game", "tools/DevilDaggersAssetEditor.png", "/Tools/DevilDaggersAssetEditor"),
		new("Check out the survival editor which can be used to create spawnsets and practice sections of the game", "tools/DevilDaggersSurvivalEditor.png", "/Tools/DevilDaggersSurvivalEditor"),
		new("Participate in custom leaderboards for spawnsets", "home/CustomLeaderboard.png", "/CustomLeaderboards"),
		new("Check out the world record progression and other statistics", "home/Statistics.png", "/Leaderboard/WorldRecordProgression"),
		new("Check out various wiki pages about the game, such as spawn times, enemy types, or hand upgrades", "home/Wiki.png", "/Wiki/Enemies"), };

	private record Section(string Text, string ImageUrl, string Url);
}
