<div class="cursor-pointer px-2 bg-gray-2 hover:bg-gray-5" @onclick="Action">@Name</div>

@code
{
	[EditorRequired]
	[Parameter]
	public string Name { get; set; } = null!;

	[EditorRequired]
	[Parameter]
	public Action Action { get; set; } = null!;
}
