.api-list {
	border: solid 2px #111;
}

.api-function-deprecated {
	color: #ff8800;
}

.api-parameter-optional {
	color: #ffff00;
}

.api-parameter {
	color: #ff0000;
}

.api-parameter-type {
	color: #44ff00;
}

.api-list > div:nth-child(2n+1) {
	background-color: #111;
}