.api-list > div {
	border: solid 1px #222;
}

.api-parameter-optional {
	color: #ffff88;
}

.api-parameter {
	color: #ffbb88;
}

.api-parameter-type {
	color: #44ff00;
}

.api-nullable {
	color: #228800;
}

.api-generic-return-type {
	color: #228800;
}

.api-return-type {
	color: #44ff00;
}

.api-parameter-default-value {
	color: #ff0088;
}

.api-null {
	color: #880044;
}

.api-list > div:nth-child(2n+1) {
	background-color: var(--col-nav-background);
}

.api-list > div:nth-child(1) {
	background-color: #300;
}