.api-list > div {
	border: solid 1px #222;
}

.api-function-deprecated {
	color: #ff8800;
}

.api-parameter-optional {
	color: #ffff00;
}

.api-parameter {
	color: #ff0000;
}

.api-parameter-type {
	color: #44ff00;
}

.api-nullable {
	color: #228800;
}

.api-parameter-default-value {
	color: #ff0088;
}

.api-null {
	color: #880044;
}

.api-list > div:nth-child(2n+1) {
	background-color: #111;
}

.api-list > div:nth-child(1) {
	background-color: #300;
}