th, td {
	padding-left: 8px;
}

.leaderboard-username {
	max-width: 84px;
	max-height: 1.42857143em;
	overflow: hidden;
	white-space: nowrap;
}

.leaderboard-spawnset-name {
	max-width: 300px;
	max-height: 1.42857143em;
	overflow: hidden;
	white-space: nowrap;
}

.custom-leaderboard-table > tbody > tr:nth-child(2n+1) {
	background-color: var(--col-nav-background);
}
