.jqplot-highlighter {
	background-color: rgba(0,0,0,0.8);
	color: var(--col-default-text);
	width: 224px;
	text-align: right;
	border: solid 1px;
	border-color: #999;
}

	.jqplot-highlighter > tbody > tr > td {
		padding: 0px 6px;
	}

		.jqplot-highlighter > tbody > tr > td:nth-child(1) {
			text-align: left;
		}
