@media (min-width: 1600px) {
	.leaderboard-row > div,
	.leaderboard-title-row > div {
		width: 12.17%;
	}

	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 4%;
		width: 4%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 2%;
		width: 2%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 14%;
		width: 14%;
	}

	.leaderboard-row > div:nth-child(4),
	.leaderboard-title-row > div:nth-child(4) {
		min-width: 7%;
		width: 7%;
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.leaderboard-row > div,
	.leaderboard-title-row > div {
		width: 10.67%;
	}

		.leaderboard-row > div:nth-child(1),
		.leaderboard-title-row > div:nth-child(1) {
			min-width: 6%;
			width: 6%;
		}

		.leaderboard-row > div:nth-child(2),
		.leaderboard-title-row > div:nth-child(2) {
			min-width: 3%;
			width: 3%;
		}

		.leaderboard-row > div:nth-child(3),
		.leaderboard-title-row > div:nth-child(3) {
			min-width: 20%;
			width: 20%;
		}

		.leaderboard-row > div:nth-child(4),
		.leaderboard-title-row > div:nth-child(4) {
			min-width: 7%;
			width: 7%;
		}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.leaderboard-row > div,
	.leaderboard-title-row > div {
		width: 14%;
	}

		.leaderboard-row > div:nth-child(1),
		.leaderboard-title-row > div:nth-child(1) {
			min-width: 9%;
			width: 9%;
		}

		.leaderboard-row > div:nth-child(2),
		.leaderboard-title-row > div:nth-child(2) {
			min-width: 4.5%;
			width: 4.5%;
		}

		.leaderboard-row > div:nth-child(3),
		.leaderboard-title-row > div:nth-child(3) {
			min-width: 35%;
			width: 35%;
		}

	.leaderboard-expand {
		padding-left: 13.5%;
	}
}

@media (max-width: 767px) {
	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 18%;
		width: 18%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 41%;
		width: 41%;
	}

	.leaderboard-row > div:nth-child(4),
	.leaderboard-title-row > div:nth-child(4) {
		min-width: 32%;
		width: 32%;
	}

	.leaderboard-expand {
		padding-left: 27%;
	}
}