.info-text {
	font-size: 17px;
}

.info-container {
	max-width: 460px;
	margin: auto;
	border: solid 1px;
	padding: 8px;
}

.info-red {
	border-color: var(--col-dark-red);
}

.info-orange {
	border-color: var(--col-dark-orange);
}