#highlighter {
	background-color: rgba(0,0,0,0.8);
	color: var(--col-default-text);
	width: 256px;
	text-align: right;
	border: solid 1px;
	border-color: #999;
	z-index: 1;
	display: none;
}

	#highlighter > tbody > tr > td {
		padding: 0px 6px;
	}

		#highlighter > tbody > tr > td:nth-child(1) {
			text-align: left;
		}

#world-record-progression-chart {
	height: 65vh;
}

#user-progression-chart {
	height: 65vh;
}
