@page
@model DevilDaggersWebsite.Razor.Pages.CustomLeaderboards.IndexModel
@using DevilDaggersWebsite.Razor.Utils
@{
	ViewData["Title"] = "Custom Leaderboards";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		Custom leaderboards are leaderboards for <a asp-page="/Spawnsets">custom spawnsets</a> hosted by DevilDaggers.info.
	</p>
	<p>
		Select a leaderboard category to view leaderboards:
	</p>

	<form method="get" class="left">
		<select class="select form-control" asp-for="Category" asp-items="Model.CategoryListItems" onchange="this.form.submit()"></select>
	</form>

	<h2>@Model.Category category</h2>
	@await Html.PartialAsync("Partials/_CustomLeaderboardTablePartial", Model.Leaderboards)

	<h2>FAQ</h2>
	<div class="faq-question">How do I participate?</div>
	<div class="faq-answer">
		You will need the <a asp-page="/Tools/DevilDaggersCustomLeaderboards">Devil Daggers Custom Leaderboards program</a>.<br />
	</div>

	<div class="faq-question">How does it work?</div>
	<div class="faq-answer">
		The program constantly scans the 'dd.exe' process for certain values stored in memory.<br />
		It can detect a bunch of values, as well as which spawnset you're playing.<br />
		When the player dies, or clears the spawnset, it uploads those values to a leaderboard on DevilDaggers.info.
	</div>

	<div class="faq-question">How do I get my spawnset a leaderboard?</div>
	<div class="faq-answer">
		If you think your spawnset should have a leaderboard, send an email to <a href="mailto:@RazorUtils.ContactEmail">@RazorUtils.ContactEmail</a>.
	</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/custom-leaderboards.css' />
}
