@page "/custom/spawnset/{Id:int}"
@inject PublicApiHttpClient Http
@inject NavigationManager NavigationManager
@using DevilDaggersInfo.Core.Spawnset
@using DevilDaggersInfo.Core.Spawnset.View
@using DevilDaggersInfo.Core.Wiki.Enums
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Spawnsets
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Enums

@if (GetSpawnset == null)
{
	<Loading />
}
else if (SpawnsView == null)
{
	<div>Spawnset could not be parsed.</div>
}
else
{
	<Heading>Spawnset - @GetSpawnset.Name</Heading>

	@foreach (SpawnView sv in SpawnsView.PreLoop)
	{
		<Spawn SpawnView="sv" />
	}

	<div>LOOP</div>
	@for (int i = 0; i < SpawnsView.Waves.Length; i++)
	{
		<div>WAVE @(i + 1)</div>
		@foreach (SpawnView sv in SpawnsView.Waves[i])
		{
			<Spawn SpawnView="sv" />
		}
	}
}

@code
{
	[Parameter, EditorRequired] public int Id { get; set; }

	public GetSpawnset? GetSpawnset { get; set; }

	public SpawnsView? SpawnsView { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetSpawnset = await Http.GetSpawnsetById(Id);

		if (!Spawnset.TryParse(GetSpawnset.FileBytes, out Spawnset? spawnset))
			return;

		SpawnsView = new(spawnset, GameVersion.V3_1);
	}
}
