@page
@inject ApplicationDbContext dbContext
@using DevilDaggersCore.Game
@using DevilDaggersWebsite.Entities
@using DevilDaggersWebsite.Extensions
@using DevilDaggersWebsite.Razor.Models
@model DonationsModel
@{
	ViewData["Title"] = "Donations";

	int total = Model.Donators.Count;
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		I've built this website and the tools that come with it entirely in my free time. If you appreciate the work I've done, or want to support hosting and domain costs for the website, you can consider <a href="//paypal.me/NoahStolk">donating via PayPal</a>. Please be sure to include your leaderboard username, rank, or user ID (user ID can be found by hovering over your rank number on the <a asp-page="./Leaderboard/Index">Leaderboard</a> page), so I can add you to the list of donators below, or if you prefer to stay anonymous, an alias or no name at all is fine too.
	</p>
	<p>
		Thanks to everyone who donated!
	</p>
	<p>
		@foreach (Dagger dagger in GameInfo.GetDaggers(GameVersion.V32))
		{
			<img src="~/Images/Daggers/@(dagger.Name)Small.png" style="margin: 8px;" />
		}
	</p>

	<div class="row">
		@{
			const float columns = 3f;
			int interval = (int)Math.Ceiling(total / columns);
			if (interval % 2 != 0)
				interval++;
			for (int i = 0; i < total; i += interval)
			{
				<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
					@{
						foreach (KeyValuePair<DonatorModel, List<DonationModel>> kvp in Model.Donators.Skip(i).Take(interval))
						{
							string username = kvp.Key.HideDonations ? "(anonymous)" : kvp.Key.PlayerName;

							string tooltipText = string.Join(" + ", kvp.Value
								.GroupBy(d => d.Currency)
								.Select(g => $"{g.Key.GetChar()} {(g.Sum(d => d.Amount) / 100.0).ToString("0.00")} {(g.Key.ToString().ToUpper())}"));

							<div class="donator flex-container">
								<div style="white-space: nowrap; flex-grow: 4;" class="text-left devil">@username</div>
								<div class="devil donation-tooltip" data-toggle="tooltip" data-placement="left" title="@tooltipText">
									€ @((kvp.Value.Sum(d => d.ConvertedEuroCentsReceived) / 100.0).ToString("0.00"))
								</div>
							</div>
						}
					}
				</div>
			}
		}
	</div>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/donations.css' asp-append-version="true" />
}
