@page "/authentication/logout"
@inject AdminAuthenticationStateProvider Auth
@inject NavigationManager Navigation
@using DevilDaggersInfo.Web.BlazorWasm.Client.Authentication
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Authentication
@using Newtonsoft.Json

<Heading Title="Logout" />

<button class="bg-gray-1 hover:bg-gray-3 transition-colors duration-100 p-1 rounded text-color-text" @onclick="ClickLogout">Logout</button>

@code
{
	private async Task ClickLogout(MouseEventArgs e)
	{
		await Auth.SetTokenAsync(null);
		Navigation.NavigateTo("/");
	}
}
