<div>
	@if (!string.IsNullOrEmpty(CountryCode))
	{
		<Tooltip Text="@_countryName"><Flag CountryCode=@CountryCode /></Tooltip>
	}
</div>

@code
{
	[Parameter] public string? CountryCode { get; set; }

	private string? _countryName;

	protected override void OnInitialized()
	{
		_countryName = CountryCode != null && UserUtils.CountryNames.ContainsKey(CountryCode) ? UserUtils.CountryNames[CountryCode] : null;
	}
}
