<div>
	@if (!string.IsNullOrEmpty(CountryCode))
	{
		string countryCode = UserUtils.CountryNames.ContainsKey(CountryCode) ? UserUtils.CountryNames[CountryCode] : "?";
		<Tooltip Text="@countryCode"><img class="cursor-pointer inline-block" src="/images/flags/@(CountryCode).png" /></Tooltip>
	}
</div>

@code
{
	[Parameter] public string? CountryCode { get; set; }
}
