<div class="max-h-lb-name overflow-hidden">
	@if (IsBanned)
	{
		<a href="/leaderboard/player/@Id" class="@(IsBanned ? string.Empty : DaggerCssClass)"><span class="font-goethe text-xl hover:underline">@Name.ToNoBreakString()</span></a>
	}
	else
	{
		<a href="/leaderboard/player/@Id" class="@DaggerCssClass highlight hover:underline">@Name.ToNoBreakString()</a>
	}
</div>

@code {
	[Parameter, EditorRequired] public int Id { get; set; }
	[Parameter, EditorRequired] public string Name { get; set; } = null!;
	[Parameter, EditorRequired] public string DaggerCssClass { get; set; } = null!;
	[Parameter] public bool IsBanned { get; set; }
}
