@page "/tools/asset-editor"
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Components.Tools
@using DevilDaggersInfo.Web.Client.HttpClients
@using DevilDaggersInfo.Web.ApiSpec.Main.Mods
@inject MainApiHttpClient Http

<Heading Title="Devil Daggers Asset Editor" />

@if (GetTotalModData == null)
{
	<Loading />
}
else
{
	<ToolLinks GitHubMainUrl="https://github.com/NoahStolk/DevilDaggersAssetEditor" GitHubReleasesUrl="https://github.com/NoahStolk/DevilDaggersAssetEditor/releases" GitHubChangelogUrl="https://github.com/NoahStolk/DevilDaggersAssetEditor/blob/master/CHANGELOG.md" />

	<img src="/images/tools/ddae.png" class="object-contain max-h-160 pt-3" alt="Asset Editor" />

	<Heading Title="Features" Level="2" />
	<ul class="pl-4">
		<li class="list-disc">Extract game assets from the original game or mods</li>
		<li class="list-disc">Modify game assets and create mods</li>
		<li class="list-disc">Supports meshes, textures, audio, shaders, and object bindings</li>
		<li class="list-disc">Download @(GetTotalModData.Count) existing mods from the website to insert them into the game directly</li>
		<li class="list-disc">Enable or disable mods with a single click</li>
		<li class="list-disc">Enable or disable prohibited assets inside a mod with a single click</li>
		<li class="list-disc">View the final effective list of assets (for when using multiple mods simultaneously)</li>
	</ul>

	<Heading Title="System Requirements" Level="2" />
	<ul class="pl-4">
		<li class="list-disc">Microsoft Windows</li>
		<li class="list-disc">64-bit</li>
	</ul>

	<RunInfo />
}

@code
{
	public GetTotalModData? GetTotalModData { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetTotalModData = await Http.GetTotalModData();
	}
}
