@page "/tools/custom-leaderboards"
@using DevilDaggersInfo.Web.Client.Components
@using DevilDaggersInfo.Web.Client.Components.Tools

<Heading Title="Devil Daggers Custom Leaderboards (DEPRECATED)" />

<Heading Title="IMPORTANT" Level="2" />
<p class="para">This tool has been deprecated in favor of <a class="link" href="/tools">ddinfo tools</a> and can no longer be used.</p>

<SourceInfo Url="https://github.com/NoahStolk/DevilDaggersCustomLeaderboards" UrlChangelog="https://github.com/NoahStolk/DevilDaggersCustomLeaderboards/blob/master/CHANGELOG.md" />

<img src="/images/tools/ddcl.png" class="object-contain max-h-160 pt-3" alt="Custom Leaderboards" />
