@page "/tools/custom-leaderboards"
@using DevilDaggersInfo.Web.Client.Components

<Heading Title="Devil Daggers Custom Leaderboards (DEPRECATED)" />

<Heading Title="IMPORTANT" Level="2" />
<p class="para">This tool has been deprecated in favor of <a class="link" href="/tools">ddinfo tools</a> and can no longer be used.</p>

<Heading Title="Source" Level="2" />
<p class="para">The source code can be found on <a class="link" href="https://github.com/NoahStolk/DevilDaggersCustomLeaderboards" target="_blank">GitHub</a>.</p>
<p class="para">The changelog can be found on <a class="link" href="https://github.com/NoahStolk/DevilDaggersCustomLeaderboards/blob/master/CHANGELOG.md" target="_blank">GitHub</a> as well.</p>

<img src="/images/tools/ddcl.png" class="object-contain max-h-160 pt-3" alt="Custom Leaderboards" />
