@page "/tools/replay-editor"
@using DevilDaggersInfo.Web.Client.Components

<Heading Title="Devil Daggers Replay Editor (DEPRECATED)" />

<Heading Title="IMPORTANT" Level="2" />
<p class="para">This tool has been deprecated in favor of <a class="link" href="/tools">ddinfo tools</a> and can no longer be used.</p>

<img src="/images/tools/ddre.png" class="object-contain max-h-160 pt-3" alt="Replay Editor" />
