<span class="oi oi-@Type pr-1 w-6 text-center" aria-hidden="true"></span>
<span class="transition-opacity duration-150 ease-in-out @NavMenu.GetOpacityClass()">@Text</span>

@code {
	[CascadingParameter(Name = nameof(NavMenu))]
	public required NavMenu NavMenu { get; set; }

	[Parameter]
	[EditorRequired]
	public required string Type { get; set; }
	
	[Parameter]
	[EditorRequired]
	public required string Text { get; set; }
}
