@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@using DevilDaggersCore.Tools
@using DevilDaggersWebsite.Code.Utils
@using System.IO
@{
	ViewData["Title"] = "Devil Daggers Asset Editor";
	string name = "DevilDaggersAssetEditor";
	Tool tool = ToolUtils.Tools.Where(t => t.Name == name).FirstOrDefault();
	string downloadFileName = $"DevilDaggersAssetEditor{tool.VersionNumber}.zip";
	FileInfo downloadFileInfo = new FileInfo(System.IO.Path.Combine(env.WebRootPath, "tools", name, downloadFileName));
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p class="text-center">
		Devil Daggers Asset Editor is a tool that can be used to extract assets from the Devil Daggers resource files, as well as compressing them back to create mods.
	</p>

	<p class="text-center">
		Current version: @(tool.VersionNumber)<br />
		@if (!string.IsNullOrEmpty(tool.VersionNumberRequired))
		{
			@:Oldest supported version: @(tool.VersionNumberRequired)<br />
		}
		File size: @(Math.Round(downloadFileInfo.Length / 1024f).ToString()) KB<br />
		<a class="btn dont-break-out" href="/tools/@name/@downloadFileName">Download</a>
	</p>

	<h2>System requirements</h2>
	<ul>
		<li>Microsoft Windows (64-bit)</li>
		<li>.NET Framework 4.6.1</li>
	</ul>

	<h2>Installation</h2>
	<ol>
		<li>Download the zip file.</li>
		<li>Unzip its contents.</li>
		<li>Run <span class="dont-break-out">DevilDaggersAssetEditor.exe</span> inside the folder.</li>
	</ol>

	@*<h2>Source code</h2>
	<p>
		The source code can be found on <a target="_blank" href="https://bitbucket.org/NoahStolk/devildaggersasseteditor/src">Bitbucket</a>.
	</p>*@
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/tools.css' />
}