@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@using DevilDaggersWebsite.Code.Tools
@using DevilDaggersWebsite.Code.Utils
@using System.IO
@{
	ViewData["Title"] = "Devil Daggers Survival Editor";
	string name = "DevilDaggersSurvivalEditor";
	Tool tool = ToolUtils.Tools.Where(t => t.Name == name).FirstOrDefault();
	string downloadFileName = $"DevilDaggersSurvivalEditor{tool.VersionNumber}.zip";
	FileInfo downloadFileInfo = new FileInfo(System.IO.Path.Combine(env.WebRootPath, "tools", name, downloadFileName));
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p class="text-center">
		Devil Daggers Survival Editor is a tool that lets you create, view, and edit spawnsets.
	</p>
	<img class="img-responsive image-narrow" src="~/images/Tools/@(name).png" />

	<h2>Main features</h2>
	<ul>
		<li>Spawnset editor</li>
		<li>Arena editor with the ability to change tile heights</li>
		<li>Arena presets</li>
		<li>Shrink preview that shows a rough approximation of what the arena will be like at what time during the spawnset</li>
		<li>Easily replacing the currently active spawnset in the game</li>
		<li>Downloading and importing spawnsets directly from the website</li>
	</ul>

	<h2>System requirements</h2>
	<ul>
		<li>Microsoft Windows</li>
		<li>.NET Framework 4.6.1</li>
	</ul>

	<h2>Download</h2>
	<p>
		Direct download (version @(tool.VersionNumber))<br />
		<a class="dont-break-out" href="/tools/@name/@downloadFileName">@downloadFileName</a> (@(Math.Round(downloadFileInfo.Length / 1024f).ToString()) KB)
	</p>

	<h2>Installation</h2>
	<ol>
		<li>Download the zip file.</li>
		<li>Unzip its contents.</li>
		<li>Run <span class="dont-break-out">DevilDaggersSurvivalEditor.exe</span> inside the folder.</li>
	</ol>

	<h2>Source code</h2>
	<p>
		The source code can be found on <a target="_blank" href="https://bitbucket.org/NoahStolk/devildaggerssurvivaleditor/src">Bitbucket</a>.
	</p>
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/tools.css' />
}