:root {
	--col-dropdown: #337ab7;
	--col-dropdown-hover: #23527c;
	--col-red: #f00;
	--col-dark-red: #600;
	--col-dark-orange: #630;
	--col-gray: #666;
	--col-black: #000;
	--col-default-text: #ddd;
	--col-gray-08: #080808;
	--col-gray-0B: #0B0B0B;
	--col-gray-11: #111;
	--col-gray-18: #181818;
	--col-nav-background: #0D0D0D;
	--col-nav-background-hover: #181818;
	--col-ban: #666;
	--col-selection-text: #700;
}
