.leviathan {
	background: url('../Images/Fonts/Leviathan.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.devil {
	background: url('../Images/Fonts/Devil.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.golden {
	background: url('../Images/Fonts/Golden.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.silver {
	background: url('../Images/Fonts/Silver.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bronze {
	background: url('../Images/Fonts/Bronze.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.default {
	background: url('../Images/Fonts/Default.png');
	background-repeat: repeat-x;
	background-position-y: 4px;
	-webkit-font-smoothing: antialiased;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

span.leviathan,
span.devil,
span.golden,
span.silver,
span.bronze,
span.default {
	background-position-y: 3px;
}
