.navbar-toggle {
	border: none;
}

.icon-bar {
	width: 22px;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	background-color: var(--col-red);
}

.top-bar {
	transform: translate(3px, 0px) rotate(45deg);
	transform-origin: 10% 10%;
}

.middle-bar {
	opacity: 0;
}

.bottom-bar {
	transform: translate(3px, 0px) rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggle.collapsed > .top-bar {
	transform: rotate(0);
}

.navbar-toggle.collapsed > .middle-bar {
	opacity: 1;
}

.navbar-toggle.collapsed > .bottom-bar {
	transform: rotate(0);
}
