@if (Message != null)
{
	<div class="alert alert-@Type">
		@if (Title != null)
		{
			<h4 class="alert-heading">@Title</h4>
		}

		<p>@Message</p>

		@if (Dismissable)
		{
			<button class="btn btn-@Type" @onclick="Dismiss">Dismiss</button>
		}
	</div>
}

@code
{
	[Parameter] public string? Title { get; set; }
	[Parameter] public string? Message { get; set; }
	[Parameter] public string Type { get; set; } = null!;
	[Parameter] public bool Dismissable { get; set; } = true;
	[Parameter] public Action? DismissEvent { get; set; }

	[Parameter]
	public EventCallback<string?> MessageChanged { get; set; }

	private void Dismiss()
	{
		Message = null;
		DismissEvent?.Invoke();
	}
}
