@page "/wiki/enemies"

<Heading Title="Enemies" />

<Heading Title="Details" Level="2" />

<div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
	@foreach (Enemy enemy in Enemies.GetEnemies(GameConstants.CurrentVersion))
	{
		<div>
			<div class="font-goethe text-xl" style="@($"color: {enemy.Color.HexCode ?? "#444"};")">@enemy.Name</div>
			@*TODO: Gigapede V1/V2.*@
			<img src='images/wiki/enemies/@(enemy.GetImageName()).png' />
		</div>
	}
</div>
