@page "/admin/custom-leaderboards"
@inherits BaseAdminPage
@using DevilDaggersInfo.Core.Common
@using DevilDaggersInfo.Web.ApiSpec.Admin.CustomLeaderboards
@using DevilDaggersInfo.Web.Client.Components.Admin
@using DevilDaggersInfo.Web.Client.Extensions
@using DevilDaggersInfo.Web.Core.Claims

<AdminAuthorizer Base="this" RequiredRole="@Roles.CustomLeaderboards">
	<AdminOverview
		@ref="_overview"
		TGetDto="GetCustomLeaderboardForOverview"
		TSorting="CustomLeaderboardSorting"
		Title="Admin - Custom Leaderboards"
		ApiCall="Http.GetCustomLeaderboards"
		DeletionApiCall="(int id) => Http.DeleteCustomLeaderboardById(id)"
		Columns="_columns" />
	<a class="btn btn-red block w-32 mb-2 mx-1 mt-2 font-bold" href="/admin/custom-leaderboards/edit-marker">Edit marker</a>
</AdminAuthorizer>

@code
{
	// ! Blazor ref.
	private AdminOverview<GetCustomLeaderboardForOverview, CustomLeaderboardSorting> _overview = null!;

	private readonly List<AdminOverviewColumn<GetCustomLeaderboardForOverview, CustomLeaderboardSorting>> _columns =
	[
		new(CustomLeaderboardSorting.Id, "Id", cl => cl.Id, TextAlign.Right),
		new(CustomLeaderboardSorting.SpawnsetName, "Name", cl => cl.SpawnsetName, TextAlign.Left),
		new(CustomLeaderboardSorting.TimeBronze, "Bronze", cl => cl.RankSorting.GetDaggerValue(cl.Daggers.Bronze), TextAlign.Right),
		new(CustomLeaderboardSorting.TimeSilver, "Silver", cl => cl.RankSorting.GetDaggerValue(cl.Daggers.Silver), TextAlign.Right),
		new(CustomLeaderboardSorting.TimeGolden, "Golden", cl => cl.RankSorting.GetDaggerValue(cl.Daggers.Golden), TextAlign.Right),
		new(CustomLeaderboardSorting.TimeDevil, "Devil", cl => cl.RankSorting.GetDaggerValue(cl.Daggers.Devil), TextAlign.Right),
		new(CustomLeaderboardSorting.TimeLeviathan, "Levi", cl => cl.RankSorting.GetDaggerValue(cl.Daggers.Leviathan), TextAlign.Right),
		new(CustomLeaderboardSorting.IsFeatured, "Featured", cl => cl.IsFeatured, TextAlign.Left),
		new(CustomLeaderboardSorting.DateCreated, "Date created", cl => cl.DateCreated?.ToString(StringFormats.DateFormat), TextAlign.Left),
		new(CustomLeaderboardSorting.RankSorting, "Rank sorting", cl => cl.RankSorting, TextAlign.Left),
	];
}
