<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://v5.devildaggers.info</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>595cab68-c85d-4aad-b78f-4cc499921e61</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://web18.foxxl.com</MSDeployServiceURL>
    <DeployIisAppPath>v5.devildaggers.info</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>dicedpilot</UserName>
    <_SavePWD>True</_SavePWD>
    <TargetFramework>net6.0</TargetFramework>
  </PropertyGroup>
  <ItemGroup>
    <Content Update="Data\CustomEntryReplays\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\LeaderboardHistory\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\ModArchiveCache\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\Mods\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\ModScreenshots\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\Spawnsets\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\Tools\DevilDaggersAssetEditor\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\Tools\DevilDaggersCustomLeaderboards\**\*" CopyToPublishDirectory="Never" />
    <Content Update="Data\Tools\DevilDaggersSurvivalEditor\**\*" CopyToPublishDirectory="Never" />
  </ItemGroup>
</Project>
