@page
@{
	ViewData["Title"] = "Page not found";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<div class="text-center">
	<p>
		The page could not be found.
	</p>
	<p>
		Return to the <a asp-page="/Index">Home page</a>.
	</p>
</div>
