<Heading Title="Running The Tool" Level="2" />
<ol class="pl-4">
	<li class="list-decimal">Download the .zip file.</li>
	<li class="list-decimal">Extract it.</li>
	<li class="list-decimal">Run the .exe file inside it.</li>
</ol>
