<Heading Level="2">Source</Heading>
<p>The source code can be found on <UrlLink Href="@Url" OpenInNewTab=true>GitHub</UrlLink>.</p>

@code
{
	[Parameter, EditorRequired] public string Url { get; set; } = null!;
}
