<Heading Level="2">Source</Heading>
<p>The source code can be found on <a class="text-color-link hover:text-color-link-hover" href="@Url" target="_blank">GitHub</a>.</p>

@code
{
	[Parameter, EditorRequired] public string Url { get; set; } = null!;
}
