<Heading Title="Source" Level="2" />
<Paragraph>The source code can be found on <a class="link" href="@Url" target="_blank">GitHub</a>.</Paragraph>

@code
{
	[Parameter, EditorRequired] public string Url { get; set; } = null!;
}
