<Heading Level="2">Source</Heading>
<p>The source code can be found on <Link Href="@Url" OpenInNewTab=true>GitHub</Link>.</p>

@code
{
	[Parameter, EditorRequired] public string Url { get; set; } = null!;
}
