@page
@model DevilDaggersWebsite.Razor.Pages.Wiki.SpawnsModel
@using DevilDaggersWebsite.Razor.Utils
@{
	ViewData["Title"] = "Spawns";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<form method="get">
	<select class="select form-control select-small" asp-for="GameVersion" asp-items="Model.GameVersionListItems" onchange="this.form.submit()"></select>
</form>

<main role="main">
	<p>
		These are the official spawn times for Devil Daggers @Model.GameVersion.
	</p>
	<p>
		@RazorUtils.GetLayout($"Note that {Model.EmergeEnemies} emerge around 3 seconds later than their actual spawn time.", Model.GameVersion)
	</p>

	@await Html.PartialAsync("Partials/SpawnsPartial", Model.SpawnsetPath)
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/spawns.css' />
}
