@inherits LayoutComponentBase

<div class="sidebar">
	<NavMenu />
</div>

<div class="main">
	@*<div class="top-row px-4 auth">
			<LoginDisplay />
		</div>*@

	<div class="content">
		@Body
	</div>

	<div class="footer fixed-bottom">
		<p>
			Copyright © 2017-2020 Website created by Noah Stolk
		</p>
		<p>
			This website, which is a completely rewritten version of the website at <a href="//devildaggers.info">devildaggers.info</a>, is currently under construction.
		</p>
		<p>
			DEVILDAGGERS.INFO v4-alpha
		</p>
	</div>
</div>