@page
@model DevilDaggersWebsite.Pages.Admin.CustomLeaderboards.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CustomLeaderboard</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.CategoryId" class="control-label"></label>
				<select asp-for="CustomLeaderboard.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.SpawnsetFileId" class="control-label"></label>
				<select asp-for="CustomLeaderboard.SpawnsetFileId" class="form-control" asp-items="ViewBag.SpawnsetFileId"></select>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.Bronze" class="control-label"></label>
				<input asp-for="CustomLeaderboard.Bronze" class="form-control" />
				<span asp-validation-for="CustomLeaderboard.Bronze" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.Silver" class="control-label"></label>
				<input asp-for="CustomLeaderboard.Silver" class="form-control" />
				<span asp-validation-for="CustomLeaderboard.Silver" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.Golden" class="control-label"></label>
				<input asp-for="CustomLeaderboard.Golden" class="form-control" />
				<span asp-validation-for="CustomLeaderboard.Golden" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.Devil" class="control-label"></label>
				<input asp-for="CustomLeaderboard.Devil" class="form-control" />
				<span asp-validation-for="CustomLeaderboard.Devil" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboard.Homing" class="control-label"></label>
				<input asp-for="CustomLeaderboard.Homing" class="form-control" />
				<span asp-validation-for="CustomLeaderboard.Homing" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}