@page "/"
@using DevilDaggersInfo.Razor.SurvivalEditor.Features.SurvivalEditor.Components
@inherits FluxorComponent

<div class="grid grid-cols-2 h-64">
	<div>
		<FileSettings/>
	</div>
	<div>
		<ArenaSettings/>
	</div>
</div>

<div class="grid grid-cols-2">
	<div>
		<Spawns/>
	</div>
	<div>
		<Arena/>
	</div>
</div>
