@inject AdminApiHttpClient Http
@inject NavigationManager NavigationManager
@typeparam TModel

<Heading Title="@($"Edit {Name}")" />

@switch (State)
{
	case ErrorState.ValidationError:
		{
			<ResultBar Title="Validation failed" ResultBarType="ResultBarType.ValidationError" DismissEvent="Dismiss">
				@ErrorMessage
			</ResultBar>
		}
		break;
	case ErrorState.FatalError:
		{
			<ResultBar Title="Fatal error" ResultBarType="ResultBarType.FatalError" DismissEvent="Dismiss">
				@ErrorMessage
			</ResultBar>
		}
		break;
}

@if (Model == null)
{
	<Loading />
}
else
{
	<EditForm Model="@Model" OnValidSubmit="@OnValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />

		@ChildContent

		<button class="btn btn-gray p-2" type="submit">Submit</button>
	</EditForm>
}
