@inherits InputBase<bool?>

<OutsideClickHandler OnClickOutside="OnClickOutside" CssClass="inline-block w-64 bg-gray-1 text-color-text cursor-pointer">
	<div class="grid grid-cols-8">
		<span class="pl-2 col-span-7" @onclick="e => _show = !_show">@SelectedDisplayValue</span>
		<span class="w-8 cursor-pointer bg-gray-1 rounded block text-center" @onclick="e => HandleSelect(null)">✕</span>
	</div>
	<div class="@(_show ? "absolute" : "hidden") z-10">
		<div class="bg-gray-1 border-[#fff8] border-2">
			<ul class="max-h-screen-half overflow-y-scroll w-64">
				<li class="cursor-pointer pl-2 bg-gray-2 hover:bg-gray-5" @onclick="e => HandleSelect(null)">Unknown</li>
				<li class="cursor-pointer pl-2 hover:bg-gray-5" @onclick="e => HandleSelect(false)">@False</li>
				<li class="cursor-pointer pl-2 bg-gray-2 hover:bg-gray-5" @onclick="e => HandleSelect(true)">@True</li>
			</ul>
		</div>
	</div>
</OutsideClickHandler>
