<div class="p-2 rounded @BackgroundColorClass">
	@if (Title != null)
	{
		<h4 class="text-xl">@Title</h4>
	}

	@ChildContent

	@if (DismissEvent != null)
	{
		<p>
			<button class="btn @ButtonColorClass w-20 py-1" @onclick="() => DismissEvent.Invoke()">Dismiss</button>
		</p>
	}
</div>
