<span class="tooltip @(Position.ToString().ToLower()) whitespace-nowrap font-calibri text-sm" title="@(Text)">
	@ChildContent
</span>

@code {
	[Parameter]
	public required RenderFragment ChildContent { get; set; }
	
	[Parameter]
	[EditorRequired]
	public required string Text { get; set; }
	
	[Parameter]
	public TooltipPosition Position { get; set; }
}
