@page "/about"
@using DevilDaggersInfo.Razor.ReplayEditor.Utils

<h1 class="text-red text-2xl pt-4 pb-2">Devil Daggers Replay Editor</h1>

<div class="py-1">
	<p>
		Devil Daggers Replay Editor is part of the <a class="link" href="//devildaggers.info">devildaggers.info</a> project.
	</p>
	<p>
		Developed by <a class="link" href="//noahstolk.com">Noah Stolk</a>
	</p>
	<p>
		<a class="link" href="//github.com/NoahStolk/DevilDaggersInfo">View source code</a>
	</p>
	<p>
		UI build @RazorAssemblyUtils.Version
	</p>
</div>
