@page "/leaderboard-browser"
@using DevilDaggersInfo.Razor.ReplayEditor.Services
@using DevilDaggersInfo.Razor.ReplayEditor.Store.State
@using Fluxor
@inherits FluxorComponent
@inject StateFacade StateFacade
@inject IState<LeaderboardBrowserState> LeaderboardBrowserState

@if (LeaderboardBrowserState.Value.IsDownloading)
{
	<p>Downloading replay...</p>
}
else
{
	<div>
		<label>Player ID:</label>
		<input class="bg-black p-1" type="text" @bind="_id" />
		<button class="btn btn-gray" @onclick="FetchAndOpen">Download and open as local replay</button>
	</div>
}

@code
{
	private int _id;

	public void FetchAndOpen()
	{
		StateFacade.DownloadLeaderboardReplay(_id);
	}
}
