@page "/"
@using DevilDaggersInfo.Common
@using DevilDaggersInfo.Common.Extensions
@using DevilDaggersInfo.Core.Replay
@using DevilDaggersInfo.Core.Wiki
@using DevilDaggersInfo.Core.Wiki.Enums
@using DevilDaggersInfo.Core.Wiki.Objects
@using DevilDaggersInfo.Razor.ReplayEditor.Services
@using DevilDaggersInfo.Razor.ReplayEditor.Store.State
@using Fluxor
@inherits FluxorComponent
@inject IState<ReplayBinaryState> ReplayBinaryState
@inject StateFacade StateFacade

<div class="py-1">
	<button class="btn btn-gray" @onclick="StateFacade.NewReplay">New replay</button>
	<button class="btn btn-gray" @onclick="StateFacade.OpenReplayFile">Open replay</button>
	<button class="btn btn-gray" @onclick="async () => await StateFacade.OpenLeaderboardReplayAsync(234946)">Open replay from leaderboard</button>
	<button class="btn btn-gray" @onclick="StateFacade.OpenCurrentReplayInGame">Open current replay in game</button>
</div>

<h1 class="text-red text-2xl pt-4 pb-2">@ReplayBinaryState.Value.Name</h1>

<LocalReplayHeader />

<ReplayEventsViewer />
