@page "/"
@using DevilDaggersInfo.Core.Replay.Events
@using DevilDaggersInfo.Razor.ReplayEditor

<button @onclick="OpenReplay">Open replay</button>
@if (_replayBinary != null)
{
	<ReplayParser ReplayBinary="_replayBinary" />
}
