@using DevilDaggersInfo.Core.Asset
@using DevilDaggersInfo.Core.Mod

<button class="btn btn-gray w-32 pb-1" @onclick="NewBinary">New binary</button>
<button class="btn btn-gray w-32 pb-1" @onclick="OpenBinary">Open binary</button>
<button class="btn btn-gray w-32 pb-1" @onclick="ExtractBinary">Extract binary</button>
<button class="btn btn-gray w-32 pb-1" @onclick="CompileBinary">Compile binary</button>

@if (_binary == null)
{
	<div>No binary selected</div>
}
else
{
	<ul>
		@foreach (ModBinaryChunk chunk in _binary.Chunks)
		{
			<li>@chunk.AssetType - @chunk.Name</li>
		}
	</ul>
}
