@using DevilDaggersInfo.Core.Asset
@using DevilDaggersInfo.Core.Mod

<button @onclick="ReadBinary">Load</button>

@if (_binary == null)
{
	<div>No binary selected</div>
}
else
{
	<ul>
		@foreach (ModBinaryChunk chunk in _binary.Chunks)
		{
			<li>@chunk.AssetType - @chunk.Name</li>
		}
	</ul>
}
