@page
@model DevilDaggersWebsite.Pages.Admin.CustomLeaderboardCategories.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CustomLeaderboardCategory</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CustomLeaderboardCategory.Name" class="control-label"></label>
				<input asp-for="CustomLeaderboardCategory.Name" class="form-control" />
				<span asp-validation-for="CustomLeaderboardCategory.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboardCategory.SortingPropertyName" class="control-label"></label>
				<input asp-for="CustomLeaderboardCategory.SortingPropertyName" class="form-control" />
				<span asp-validation-for="CustomLeaderboardCategory.SortingPropertyName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input asp-for="CustomLeaderboardCategory.Ascending" /> @Html.DisplayNameFor(model => model.CustomLeaderboardCategory.Ascending)
					</label>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="CustomLeaderboardCategory.LayoutPartialName" class="control-label"></label>
				<input asp-for="CustomLeaderboardCategory.LayoutPartialName" class="form-control" />
				<span asp-validation-for="CustomLeaderboardCategory.LayoutPartialName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}