@page "/guides/asset-editor"

<Heading Title="Guide - Asset Editor" />

<p>
	This page will guide you through the creation of custom asset mods for Devil Daggers. This guide is aimed at Devil Daggers Asset Editor 0.56.5.0, and will be inaccurate for any older versions. If you are not running the latest version, it is highly recommended to <UrlLink Href="tools/asset-editor">download the latest version</UrlLink>.
</p>

<Heading Title="Basic Information" Level="2" />

<Paragraph>
	There is some basic information that you need to know in order to understand how to create asset mods for Devil Daggers.
</Paragraph>

<Heading Title="Binaries" Level="3" />

<Paragraph>
	Devil Daggers uses custom binary formats to read asset data from asset files. There are 3 of these files that contain assets:
</Paragraph>
<ul class="pl-4">
	<li class="list-disc"><span class="text-color-path">devildaggers\res\audio</span> contains all audio</li>
	<li class="list-disc"><span class="text-color-path">devildaggers\res\dd</span> contains all textures, all models, and most shaders</li>
	<li class="list-disc"><span class="text-color-path">devildaggers\core\core</span> contains UI-related shaders</li>
</ul>
<Paragraph>
	Where <span class="text-color-path">devildaggers</span> is the installation folder for Devil Daggers. The default location for this folder is <span class="text-color-path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers</span>.
</Paragraph>
<Paragraph>
	All of these files can be modded using <UrlLink Href="tools/asset-editor">Devil Daggers Asset Editor</UrlLink> (also known as DDAE). These files are referred to as "binaries" in the application. If you're interested how these files are structured and how DDAE operates with them, I've documented how they work <UrlLink Href="//github.com/NoahStolk/DevilDaggersAssetEditor/blob/master/DOCUMENTATION.md">here</UrlLink>.
</Paragraph>
<Paragraph>
	As of the V3.1 update, Devil Daggers allows partial mods for the "audio" and "dd" binaries. This means that you don't need to create these entire binary anymore, but can instead create a "partial" binary containing only the modded assets. This is useful because it makes the files much smaller. The partial mods are saved in the <span class="text-color-path">devildaggers\mods</span> folder and their file name must be begin with the binary file type they are targetting, for example "dd_blue_gem", or "audio_trumpet_gigapedes". This feature also allows you to stack multiple partial mods and play them at once. The mods are loaded alphabetically, so if you have two partial mods replacing the same assets, the last one will actually replace the asset. For example, if you have two texture mods named "dd_blue_gem" and "dd_yellow_gem", which both change the color of the gem texture, "dd_yellow_gem" will be the effective one.
</Paragraph>
<Paragraph>
	Note that partial mods are not supported for "core" mods.
</Paragraph>

<Heading Title="Asset Types" Level="3" />

<Paragraph>
	There are 5 types of assets that Devil Daggers uses:
</Paragraph>
<ul class="pl-4">
	<li class="list-disc">Audio (.wav)</li>
	<li class="list-disc">Model bindings (.txt)</li>
	<li class="list-disc">Models (.obj)</li>
	<li class="list-disc">Shaders (.glsl)</li>
	<li class="list-disc">Textures (.png)</li>
</ul>

<Heading Title="The Asset Editor" Level="2" />

<Paragraph>
	I've created <UrlLink Href="tools/asset-editor">Devil Daggers Asset Editor</UrlLink> to make it easier to mod the game's assets.
</Paragraph>

<img src="/images/tools/ddae.png" class="object-contain h-160" />

<Paragraph>
	The first thing you will see when you open DDAE is a list of assets. These are all the default assets present in the binaries. Note that there are 6 different tabs at the top:
</Paragraph>
<ul class="pl-4">
	<li class="list-disc">audio/Audio</li>
	<li class="list-disc">core/Shaders</li>
	<li class="list-disc">dd/Models</li>
	<li class="list-disc">dd/Model Bindings</li>
	<li class="list-disc">dd/Shaders</li>
	<li class="list-disc">dd/Textures</li>
</ul>
<Paragraph>
	DDAE orders the assets by binary file, and then by asset type. So "dd/Models" will contain all model assets present in the "dd" file.
</Paragraph>

<Heading Title="Mod Files" Level="3" />

<Paragraph>
	Since binaries can be huge, DDAE works with mod files, which, instead of holding all the raw asset data, are basically just lists of user-specified asset paths. Mod files have the extension .ddae and are written in JSON format, so they can be opened using a text editor. Note that if you change the locations of assets, it will break the mod file. You can open the mod file using a text editor and globally replace all the paths with the new path to fix it (unless you also renamed the files themselves).
</Paragraph>

<Heading Title="How To Create A Mod" Level="2" />

<Heading Title="Extracting The Original Assets" Level="3" />

<Paragraph>
	It is useful to extract the original assets so you know what assets you can mod.
</Paragraph>

<ol class="pl-4">
	<li class="list-decimal">
		It is recommended to set the Devil Daggers root folder in the program, so it can locate the files. Go to "Options > Settings" and set "Devil Daggers root folder" to the directory containing "dd.exe". Again, this is <span class="text-color-path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers</span> by default. If you're not sure where Devil Daggers is installed, you can launch Devil Daggers and click "Auto-detect" and DDAE will automatically detect the correct directory.
		<img src="/images/tools/ddae-settings.png" class="object-contain h-160" />
	</li>
	<li class="list-decimal">Now that the settings are correct, we can extract the binaries. Click on "File > Extract binaries".</li>
	<li class="list-decimal">
		A new window will appear, and if the Devil Daggers root folder is correct, there should be 4 paths pointing to all the asset files. If the paths are incorrect, make sure to set them to the correct asset files using the "Browse" buttons.
		<img src="/images/tools/ddae-extract-binaries.png" class="object-contain h-160" />
	</li>
	<li class="list-decimal">Once the paths are correct, click on "Browse", under "Assets output directory", to set the folder where you want the original assets to be extracted to.</li>
	<li class="list-decimal">Click on the "Extract binaries" button. This will create the asset files in the assets output directory.</li>
</ol>

<Heading Title="Making Your Own Mod" Level="3" />

<Heading Title="Step 1: Modifying Assets" Level="4" />

<ol class="pl-4">
	<li>Go to "File > New mod" to create a new mod. Select an asset from the lists you wish to mod and click the "Browse" button on the right to replace it with a custom asset.</li>
	<li>In the open file dialog, select a compatible file. There are some requirements for certain assets, such as audio files. These can be found under <a href="#compatibility">Compatibility</a> at the bottom of the page. After you've done that, your asset should show up in the lists. Most assets can also be previewed by selecting them.</li>
</ol>

<Heading Title="Step 2: Saving Your Mod" Level="4" />

<ol class="pl-4">
	<li class="list-decimal">Since you may want to work on this mod again, it's a good idea to save it to your computer. Go to "File > Save mod" to do so.</li>
	<li class="list-decimal">In the save file dialog, select a folder that will contain your mod files. Give your mod file a name and save it inside the folder. Your mod should now be saved as a .ddae file containing the paths to the assets you specified in the editor.</li>
</ol>
<Paragraph>
	Note: You can set a default path for mod files in "Options > Settings" for convenience. This is purely optional; this path will be used as default location when opening mod files.
</Paragraph>

<Heading Title="Step 3: Making Your Mod Into A Binary To Be Played In Devil Daggers" Level="4" />

<ol class="pl-4">
	<li class="list-decimal">To test your mod, make sure it's opened. If it's not, open it by going to "File > Open mod".</li>
	<li class="list-decimal">You will now see all your custom files being listed in the asset editor. To turn these files into a binary, go to "File > Make binaries".</li>
	<li class="list-decimal">
		A new window will appear. Type the name of the mod in the text box under "Mod name". If your settings are correct, the paths should now automatically point to the "mods" folder.
		<img src="/images/tools/ddae-make-binaries.png" class="object-contain h-160" />
	</li>
	<li class="list-decimal">Click "Make binaries".</li>
	<li class="list-decimal">Launch Devil Daggers to see if it starts up correctly. If it does not, a list of common known causes can be found under <a href="#crashes">Crashes</a>.</li>
</ol>
<Paragraph>
	Note: When you want to test a new version of your mod, you will need to restart Devil Daggers after making the binary again, as they are only loaded when Devil Daggers starts up.
</Paragraph>

<Heading Title="Crashes" Level="2" />

<Paragraph>
	Devil Daggers will crash if there's something wrong with your mod. DDAE should automatically display an error message in some cases, such as when it cannot properly convert your model to the custom binary format Devil Daggers uses for models. However, some causes are uncaught. Here's a list of some other known causes that will cause Devil Daggers to crash:
</Paragraph>
<ul class="pl-4">
	<li class="list-disc">You have replaced one of the original files instead of created a new one in the "mods" folder. It is never recommended to modify the original files and it will most likely crash the game on start up.</li>
	<li class="list-disc">There might be something wrong with one of your custom audio asset. Be sure to check if all files are compatible under <a href="#compatibility">Compatibility</a>.</li>
	<li class="list-disc">Your custom shader asset might not compile.</li>
</ul>

<Heading Title="Compatibility" Level="2" />

<Heading Title="Audio" Level="3" />

<Paragraph>
	Only .wav files are supported. The .wav files need to meet the following requirements in order to play correctly:
</Paragraph>
<ul class="pl-4">
	<li class="list-disc">2 channels</li>
	<li class="list-disc">44.1kHz sample rate</li>
	<li class="list-disc">16-bit PCM format</li>
</ul>
<Paragraph>
	You can convert the .wav files to the correct format using software such as Audacity.
</Paragraph>

<Heading Title="Textures" Level="3" />

<Paragraph>
	Only .png files are supported. The files can be whatever dimension, though having files larger than 512x512 is not recommended since it will make the binary huge. Transparency is supported and used for UI textures, splash screens, etc, but does not work for model textures by default.
</Paragraph>

<Heading Title="Models" Level="3" />

<Paragraph>
	Only .obj files are supported. The files can consist of triangles or quads, though NGons are not supported for now. You can create models using software such as Blender.
</Paragraph>

<Heading Title="Miscellaneous Information" Level="2" />

<ul class="pl-4">
	<li class="list-disc">The Devil Daggers title screen music seems to start playing at some hardcoded offset.</li>
</ul>
