@model long
@{
	string value;
	if (Model >= 1_000_000_000_000)
	{
		value = $"{(Model / 1_000_000_000_000f):0} TB";
	}
	else if (Model >= 1_000_000_000)
	{
		value = $"{(Model / 1_000_000_000f):0} GB";
	}
	else if (Model >= 1_000_000)
	{
		value = $"{(Model / 1_000_000f):0} MB";
	}
	else if (Model >= 1000)
	{
		value = $"{(Model / 1000f):0} KB";
	}
	else
	{
		value = $"{Model} bytes";
	}
}

<span>@value</span>
