@page "/custom/entry/{Id:int}"
@using DevilDaggersInfo.Web.BlazorWasm.Client.Core.CanvasChart.Components

@if (GetCustomEntryData == null)
{
	if (_notFound)
	{
		<Heading Title="Custom leaderboard score data not found" />
		<p>This custom leaderboard score (or the data for it) doesn't exist.</p>
	}
	else
	{
		<Loading />
	}
}
else
{
	<Heading Title="@($"{GetCustomEntryData.PlayerName}'s score on {GetCustomEntryData.SpawnsetName}")" />

	@if (_lineCharts.Count == 0)
	{
		<p>No relevant data to display.</p>
	}
	else
	{
		<div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3">
			@foreach (var lc in _lineCharts)
			{
				<div>
					<Heading Title="@lc.Name" Level="2" />
					<LineChart DataOptions="lc.DataOptions" UniqueName="@($"#{lc.Name.ToLower()}-chart")" DataSets="@lc.Sets" Options="lc.ChartOptions" />
				</div>
			}
		</div>
	}
}
