@page "/admin/users/reset-password/{Id:int}"
@inherits BaseAdminPage
@using DevilDaggersInfo.Web.BlazorWasm.Client.Components.Admin
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Admin.Players
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Admin.Spawnsets
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Admin.Users
@using System.Text

<Heading Title="Reset Password" />

<button class="btn btn-gray p-1" @onclick="() => Model.NewPassword = GeneratePassword()">Generate random</button>

<EditForm Model="@Model" OnValidSubmit="@OnValidSubmit">
	<DataAnnotationsValidator />
	<ValidationSummary />
	
	<div class="grid gap-2 grid-cols-2 max-w-md">
		<span>Password</span>
		<input class="bg-black border-gray-3 border-2" @bind="@Model.NewPassword" />
	</div>

	<button class="btn btn-gray p-1" type="submit">Reset password</button>
</EditForm>

@code
{
	[Parameter, EditorRequired] public int Id { get; set; }

	[Parameter] public ResetPassword Model { get; set; } = new();

	private string GeneratePassword()
	{
		Random random = new();
		StringBuilder sb = new();
		const string characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		for (int i = 0; i < 20; i++)
			sb.Append(characters[random.Next(0, characters.Length)]);
		return sb.ToString();
	}

	private async Task OnValidSubmit()
	{
		try
		{
			HttpResponseMessage hrm = await Http.ResetPasswordForUserById(Id, Model);

			if (hrm.StatusCode == HttpStatusCode.OK)
				NavigationManager.NavigateTo("/admin/users");
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}
}
