@typeparam TItem
<div class="inline-block w-64 bg-gray-900 text-color-text cursor-pointer">
	<div class="grid grid-cols-8">
		<span class="col-span-7" @onclick="e => _show = !_show">@InitialTip</span>
		<span class="w-8 cursor-pointer bg-gray-800 rounded block text-center" @onclick="e => HandleSelect(default) ?? Task.CompletedTask">✕</span>
	</div>
	<div class="@(_show ? "absolute" : "hidden") z-10">
		@ChildContent
	</div>
</div>

@code {
	[Parameter] public RenderFragment InitialTip { get; set; } = null!;
	[Parameter] public RenderFragment ChildContent { get; set; } = null!;
	[Parameter] public EventCallback<TItem> OnSelected { get; set; }

	public TItem? SelectedValue { get; set; }

	private bool _show = false;

	public async Task HandleSelect(TItem? item)
	{
		SelectedValue = item;
		_show = false;
		StateHasChanged();
		await OnSelected.InvokeAsync(item);
	}
}
