@using DevilDaggersWebsite.Razor.Utils

<h2>FAQ</h2>
<div class="faq-question">Can I get banned for using mods?</div>
<div class="faq-answer">No, you can only get banned manually by the developer for submitting illegitimate runs to the official leaderboard.</div>
<div class="faq-question">Can I override my real score while playing a mod?</div>
<div class="faq-answer">Yes, unless you have modified the <span class="path">devildaggers/dd/particle</span> file. Scores above 1000 seconds also won't submit if the game detects prohibited mods (mods that give the player an unfair advantage).</div>
<div class="faq-question">How do I make my own mods?</div>
<div class="faq-answer">
	<ol>
		<li>Download <a asp-page="/Tools/DevilDaggersAssetEditor">DevilDaggersAssetEditor</a>.</li>
		<li>Check out the <a asp-page="/Wiki/Guides/AssetEditor">Asset Editor Guide</a>.</li>
	</ol>
</div>
<div class="faq-question">I've made my own mods that I want to share with the community. Can I get them listed on here?</div>
<div class="faq-answer">Yes, let us know on <a href="@RazorUtils.DiscordUrl">Discord</a>.</div>
