@using DevilDaggersWebsite.Razor.Utils

<div class="faq-question">Can I get banned for using custom spawnsets?</div>
<div class="faq-answer">No, you can only get banned manually by the developer for submitting illegitimate runs to the official leaderboard.</div>

<div class="faq-question">Can I override my real score using a custom spawnset?</div>
<div class="faq-answer">No, the game only uploads scores done with the original V3 spawnset.</div>

<div class="faq-question">How do I go back to the original spawnset (the real game)?</div>
<div class="faq-answer">Simply delete the custom survival file located in the mods folder.</div>

<div class="faq-question">How do I make my own spawnsets?</div>
<div class="faq-answer">
	<ol>
		<li>Download <a asp-page="/Tools/DevilDaggersSurvivalEditor">DevilDaggersSurvivalEditor</a>.</li>
		<li>Check out the <a asp-page="/Wiki/Guides/SurvivalEditor">Survival Editor Guide</a>.</li>
	</ol>
</div>

<div class="faq-question">I've made my own custom spawnsets that I want to share with the community. Can I get them listed on here?</div>
<div class="faq-answer">Yes, let us know on <a href="@RazorUtils.DiscordUrl">Discord</a>.</div>
