@model (Tool Tool, FileInfo FileInfo)
@using DevilDaggersWebsite.Dto
@using System.IO
<div class="section-container">
	<div class="header-container">
		<div class="row">
			<div class="col-xs-6">Current version</div>
			<div class="col-xs-6">@Model.Tool.VersionNumber</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Oldest supported version</div>
			<div class="col-xs-6">@Model.Tool.VersionNumberRequired</div>
		</div>
		<div class="row">
			<div class="col-xs-6">File size</div>
			<div class="col-xs-6">@(Math.Round(Model.FileInfo.Length / 1000f).ToString()) KB</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a class="btn prevent-break-out" href="/api/tools/@Model.Tool.Name/file">Download</a>
			</div>
		</div>
	</div>
</div>
