<div class="bg-gray-1 px-2 pb-2">
	<Heading Title="@Title" Level="2" />
	<div class="@(Scroll ? "max-h-52 overflow-y-auto" : string.Empty)">
		@ChildContent
	</div>
</div>

@code
{
	[Parameter]
	[EditorRequired]
	public required string Title { get; set; }
	
	[Parameter]
	public required RenderFragment ChildContent { get; set; }
	
	[Parameter]
	public bool Scroll { get; set; }
}
