<div class="grid gap-2 grid-cols-@(Left + Right) @CssClass">
	<span class="col-span-@(Left)">@Name</span>
	<span class="col-span-@(Right) text-right max-h-48 overflow-y-auto">@ChildContent</span>
</div>

@code {
	[Parameter]
	[EditorRequired]
	public required string Name { get; set; }
	
	[Parameter]
	public required RenderFragment ChildContent { get; set; }
	
	[Parameter]
	public int Left { get; set; } = 1;
	
	[Parameter]
	public int Right { get; set; } = 1;

	[Parameter]
	public string? CssClass { get; set; }
}
