span {
	visibility: hidden;
	position: absolute;
	width: 120px;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
}

	span::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #555 transparent transparent transparent;
	}

.wrapper:hover span {
	visibility: visible;
}
