.admin-select {
	color: var(--col-red);
	background-color: var(--col-black);
	margin: 12px auto;
}

.admin-table > thead {
	text-decoration: underline;
}

	.admin-table > thead > tr > th {
		line-height: 1em;
		border-bottom: red;
		padding: 3px;
	}

.admin-table > tbody > tr > td {
	line-height: 1em;
	border: none;
	padding: 3px;
}

.admin-table > tbody > tr:nth-child(odd) {
	background-color: #111;
}
