@media (max-width: 1900px) {
	.world-record-holder {
		display: none;
	}
}

@media (max-width: 1800px) {
	.world-record {
		display: none;
	}
}

@media (max-width: 1700px) {
	.dagger-time {
		display: none;
	}
}

td, th {
	vertical-align: top;
}

tr > td:nth-child(n+2),
tr > th:nth-child(n+2) {
	padding-right: 4px;
	padding-left: 4px;
}
