@media (min-width: 1600px) {
	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 20%;
		width: 20%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(4),
	.leaderboard-title-row > div:nth-child(4) {
		min-width: 14%;
		width: 14%;
	}

	.leaderboard-row > div:nth-child(5),
	.leaderboard-title-row > div:nth-child(5) {
		min-width: 10%;
		width: 10%;
	}

	.leaderboard-row > div:nth-child(6),
	.leaderboard-title-row > div:nth-child(6) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(7),
	.leaderboard-title-row > div:nth-child(7) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(8),
	.leaderboard-title-row > div:nth-child(8) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(9),
	.leaderboard-title-row > div:nth-child(9) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(10),
	.leaderboard-title-row > div:nth-child(10) {
		min-width: 7%;
		width: 7%;
	}

	.leaderboard-row > div:nth-child(11),
	.leaderboard-title-row > div:nth-child(11) {
		min-width: 7%;
		width: 7%;
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	.date {
		display: none;
	}

	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 24%;
		width: 24%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 11%;
		width: 11%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 11%;
		width: 11%;
	}

	.leaderboard-row > div:nth-child(6),
	.leaderboard-title-row > div:nth-child(6) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(7),
	.leaderboard-title-row > div:nth-child(7) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(8),
	.leaderboard-title-row > div:nth-child(8) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(9),
	.leaderboard-title-row > div:nth-child(9) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(10),
	.leaderboard-title-row > div:nth-child(10) {
		min-width: 9%;
		width: 9%;
	}

	.leaderboard-row > div:nth-child(11),
	.leaderboard-title-row > div:nth-child(11) {
		min-width: 9%;
		width: 9%;
	}
}

@media (min-width: 768px) and (max-width: 1199px) {
	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 40%;
		width: 40%;
	}

	.leaderboard-row > div:nth-child(2),
	.leaderboard-title-row > div:nth-child(2) {
		min-width: 10%;
		width: 10%;
	}

	.leaderboard-row > div:nth-child(3),
	.leaderboard-title-row > div:nth-child(3) {
		min-width: 12%;
		width: 12%;
	}

	.leaderboard-row > div:nth-child(4),
	.leaderboard-title-row > div:nth-child(4) {
		min-width: 22%;
		width: 22%;
	}

	.leaderboard-row > div:nth-child(5),
	.leaderboard-title-row > div:nth-child(5) {
		min-width: 16%;
		width: 16%;
	}
}

@media (max-width: 767px) {
	.leaderboard-row > div:nth-child(1),
	.leaderboard-title-row > div:nth-child(1) {
		min-width: 100%;
		width: 100%;
	}
}
