.damage-stats-table {
	width: 100%;
	table-layout: fixed;
}

	.damage-stats-table.visible-lg > thead > tr > td:nth-child(1),
	.damage-stats-table.visible-lg > tbody > tr > td:nth-child(1),
	.damage-stats-table.visible-md.visible-sm > thead > tr > td:nth-child(1),
	.damage-stats-table.visible-md.visible-sm > tbody > tr > td:nth-child(1) {
		min-width: 192px;
		width: 192px;
	}

	.damage-stats-table.visible-md.visible-sm > tbody > tr:nth-child(4n+1) > td {
		padding-top: 20px;
	}

.enemy-expander {
	cursor: pointer;
	font-size: 28px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	display: inline-block;
	min-width: 20px;
	width: 20px;
}

.enemy-expand {
	width: 100%;
	flex-direction: column;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.35s ease-out;
	-moz-transition: max-height 0.35s ease-out;
	-webkit-transition: max-height 0.35s ease-out;
	-o-transition: max-height 0.35s ease-out;
}

	.enemy-expand.expand {
		max-height: 500px;
		transition: max-height 0.45s ease-in;
		-moz-transition: max-height 0.45s ease-in;
		-webkit-transition: max-height 0.45s ease-in;
		-o-transition: max-height 0.45s ease-in;
	}

.damage-stats-table.visible-xs > tbody > tr {
	display: flex;
	justify-content: space-between;
}

.table-of-contents {
	width: 192px;
}

	.table-of-contents > li {
		text-align: left;
	}
