@media (min-width: 3600px) {
	.hidden-xl {
		display: none;
	}

	.visible-xl {
		display: block;
	}
}

@media (max-width: 3599px) {
	.hidden-xl {
		display: block;
	}

	.visible-xl {
		display: none;
	}
}

.leaderboard-container {
	flex-direction: column;
}

.leaderboard-username {
	max-width: 224px;
	max-height: 1.42857143em;
	overflow: hidden;
}

.sorter:hover {
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.ban {
	color: var(--col-ban);
}

	.ban.leaderboard-username {
		text-decoration: line-through;
	}

.leaderboard-tooltip {
	cursor: pointer;
}

	.leaderboard-tooltip > img {
		margin-top: -2px;
	}

.leaderboard-row,
.leaderboard-title-row {
	flex-direction: row;
}

	.leaderboard-row > div,
	.leaderboard-title-row > div {
		padding-right: 8px;
	}

.leaderboard-expand {
	flex-direction: column;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.35s ease-out;
	-moz-transition: max-height 0.35s ease-out;
	-webkit-transition: max-height 0.35s ease-out;
	-o-transition: max-height 0.35s ease-out;
}

	.leaderboard-expand.expand {
		max-height: 500px;
		transition: max-height 0.45s ease-in;
		-moz-transition: max-height 0.45s ease-in;
		-webkit-transition: max-height 0.45s ease-in;
		-o-transition: max-height 0.45s ease-in;
	}

	.leaderboard-expand > div {
		padding-right: 8px;
	}

		.leaderboard-expand > div > div {
			width: 50%;
			float: left;
		}

.leaderboard-body > :nth-child(2n+1),
.leaderboard-global-container > :nth-child(2n+1) {
	background-color: var(--col-gray-11);
}

.leaderboard-global-container {
	max-width: 480px;
	margin: 12px 0;
}
