.header-container {
	background-color: var(--col-gray-11);
	padding: 8px;
	margin-bottom: 8px;
}

.section-container {
	max-width: 640px;
}

.iframe-wrapper {
	position: relative;
}

	.iframe-wrapper .ratio {
		display: block;
		width: 100%;
		height: auto;
	}

	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
