/*Info*/
.header-container {
	background-color: var(--col-gray-11);
	padding: 8px;
	margin-bottom: 8px;
}

.section-container {
	max-width: 640px;
}

.mod-description {
	background-color: var(--col-gray-22);
	padding: 8px 15px;
	margin: 4px 0;
}

/*Trailer*/
.iframe-wrapper {
	position: relative;
}

	.iframe-wrapper .ratio {
		display: block;
		width: 100%;
		height: auto;
	}

	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/*Assets*/
.prohibited {
	color: var(--col-red);
}

.mod-binary-type {
	text-transform: lowercase;
}

.binary-container {
	background-color: var(--col-gray-11);
}

.binary-summary-container > div:nth-child(2n+1) {
	background-color: var(--col-gray-11);
}

.binary-summary-container > div:nth-child(2n) {
	background-color: var(--col-gray-08);
}

.asset-container {
	padding: 8px;
}

.asset-title-container {
	padding: 8px;
}

.asset-list {
	padding: 8px;
	height: 260px;
	overflow-y: scroll;
	background-color: var(--col-gray-08);
}
