/*Info*/
.header-container {
	background-color: var(--col-gray-11);
	padding: 8px;
	margin-bottom: 8px;
}

.section-container {
	max-width: 640px;
}

.mod-description {
	background-color: var(--col-gray-22);
	padding: 8px 15px;
	margin: 4px 0;
}

/*Trailer*/
.iframe-wrapper {
	position: relative;
}

	.iframe-wrapper .ratio {
		display: block;
		width: 100%;
		height: auto;
	}

	.iframe-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

/*Assets*/
.prohibited {
	color: var(--col-red);
}

.binary-container {
	background-color: var(--col-gray-11);
}

.binary-title-container {
	background-color: var(--col-gray-18);
	font-size: 24px;
	padding: 16px;
}

.asset-container {
	padding: 8px;
}

.asset-title-container {
	padding: 8px;
	min-height: calc(3em + 2px);
}

.asset-list {
	padding: 8px;
	min-height: 128px;
	height: 30vh;
	max-height: 320px;
	overflow-y: scroll;
	background-color: var(--col-gray-08);
}
