.navigation-wrapper {
	background-color: #111;
	max-width: 1160px;
	padding: 12px;
	margin: 12px 0;
}

.navigation-sort > th > a {
	color: #ddd;
	text-decoration: none;
}

.navigation-page-nav {
	padding: 0;
	margin-bottom: 10px;
}

.btn-page {
	margin-right: 8px;
	padding: 3px;
	width: 40px;
	height: 38px;
}

.page-separator {
	width: 24px;
	font-size: 24px;
}

tbody > tr:nth-child(2n+1) {
	background-color: var(--col-nav-background);
}
