.navigation-wrapper {
	background-color: var(--col-gray-11);
	padding: 12px;
}

.navigation-sort > th > a {
	color: #ddd;
	text-decoration: none;
}

.page-separator {
	width: 24px;
	font-size: 24px;
}

tbody > tr:nth-child(2n+1) {
	background-color: var(--col-gray-11);
}

.navigation-result-wrapper {
	background-color: var(--col-gray-0B);
	padding: 12px;
}
