/*General*/
.spawns-header-container {
	background-color: var(--col-gray-11);
	padding: 8px;
	margin-bottom: 8px;
}

.section-container {
	max-width: 640px;
}

/*Info*/
.spawnset-description {
	background-color: var(--col-gray-22);
	padding: 8px 15px;
	margin: 4px 0;
}

/*Spawns*/
.spawns-main-container {
	background-color: var(--col-gray-08);
}

.spawns-container {
	padding: 8px;
}

.end-wave-separator {
	padding-right: 40px;
	background-color: red;
	height: 2px;
}

@media (min-width: 1200px) and (max-width: 1460px) {
	.end-wave-separator {
		min-width: unset;
		width: 100%;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.end-wave-separator {
		min-width: unset;
		width: 100%;
		padding-right: 0;
	}
}

.spawns-flex-container > div {
	padding: 0 4px;
}

@media (max-width: 767px) {
	.spawns-flex-container.no-loop > div {
		width: 25%;
	}

	.spawns-flex-container.loop > div:nth-child(1) {
		width: 21%;
	}

	.spawns-flex-container.loop > div:nth-child(2) {
		width: 26%;
	}

	.spawns-flex-container.loop > div:nth-child(3) {
		width: 26%;
	}

	.spawns-flex-container.loop > div:nth-child(4) {
		width: 12%;
	}

	.spawns-flex-container.loop > div:nth-child(5) {
		width: 15%;
	}
}

@media (min-width: 768px) {
	.spawns-flex-container > div {
		width: 1000px;
	}
}

.spawns-end {
	color: var(--col-red);
	font-size: 24px;
	padding: 8px;
}

/*Arena*/
.tile-table {
	border-collapse: collapse;
	border: 2px solid rgb(64, 32, 0);
	width: auto;
}

.arena-container {
	max-width: calc(8px * 51);
}

.arena-tile {
	padding: 0;
	border: solid 1px black;
	width: 8px;
	height: 8px;
}

@media (max-width: 767px) {
	.arena-container {
		max-width: calc(6px * 51);
	}

	.arena-tile {
		width: 6px;
		height: 6px;
	}
}
