.end-wave-separator {
	padding-right: 40px;
	background-color: red;
	height: 2px;
}

@media (min-width: 1200px) and (max-width: 1460px) {
	.end-wave-separator {
		min-width: unset;
		width: 100%;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.end-wave-separator {
		min-width: unset;
		width: 100%;
		padding-right: 0;
	}
}

.spawns-flex-container > div {
	padding: 0 4px;
}

.spawns-container {
	max-width: 640px;
}

.spawns-header-container {
	background-color: var(--col-gray-11);
	padding: 8px;
}
