.spawnsets-sort > th > a {
	color: #ddd;
	text-decoration: none;
}

.spawnsets-page-nav {
	padding: 0;
	margin-bottom: 10px;
}

.btn-page {
	margin-right: 8px;
	padding: 3px;
	width: 40px;
}

.page-separator {
	width: 24px;
	font-size: 24px;
}

tbody > tr:nth-child(2n+1) {
	background-color: var(--col-nav-background);
}
