.tile-table {
	border-collapse: collapse;
	border: 2px solid white;
	margin: auto;
	width: auto;
}

.arena-tile {
	width: 12px;
	height: 12px;
	padding: 0;
	border: solid 1px black;
}

@media (min-width: 1200px) and (max-width: 1460px) {
	.arena-tile {
		width: 8px;
		height: 8px;
	}
}

@media (max-width: 767px) {
	.arena-tile {
		width: 6px;
		height: 6px;
	}
}
