.end-wave-separator {
	height: 0;
	min-width: 680px;
	padding-right: 40px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1200px) and (max-width: 1460px) {
	.end-wave-separator {
		min-width: unset;
		width: 100%;
		padding-right: 0;
	}
}

@media (max-width: 767px) {
	.end-wave-separator {
		min-width: unset;
		width: 100%;
		padding-right: 0;
	}
}
