.image-narrow {
	width: 920px;
}

.ddcl-image {
	max-width: 380px;
}

.header-container {
	background-color: var(--col-gray-11);
	padding: 8px;
	margin-bottom: 8px;
}

.section-container {
	max-width: 640px;
}
