@page
@{
	ViewData["Title"] = "Asset Editor Guide";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		This page will guide you through the creation of mods for Devil Daggers.
	</p>

	<h2>Basic information</h2>
	<p>
		There are 4 files that contain assets:
	</p>
	<ul>
		<li><span class="path">devildaggers\res\audio</span> contains all audio</li>
		<li><span class="path">devildaggers\res\dd</span> contains all textures, all models, and most shaders</li>
		<li><span class="path">devildaggers\core\core</span> contains UI-related shaders</li>
		<li><span class="path">devildaggers\dd\particle</span> contains all particle effects (not much is known about these now)</li>
	</ul>
	<p>
		Where <span class="path">devildaggers</span> is the installation folder for Devil Daggers. The default location for this folder is <span class="path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers</span>.
	</p>
	<p>
		All of these files can be modded using <a asp-page="/Tools/DevilDaggersAssetEditor">Devil Daggers Asset Editor</a>. These files are referred to as "binaries" in the application.
	</p>

	<h3>Mod files</h3>
	<p>
		Since binaries can be huge, Devil Daggers Asset Editor works with mod files, which, instead of holding all the asset data, are basically just lists of user-specified asset paths. Mod files are written in JSON format, and can be opened using a text editor. Mod files can have 4 different extensions, these are ".audio", ".core", ".dd", and ".particle", which correspond to the binaries listed at the top of the page. All 4 extensions represent the exact same file format and are only there to avoid confusion when the same mod targets multiple binaries.
	</p>

	<h3>Creating a default mod file</h3>
	<p>
		Before diving any further into the program, it is recommended to set up default mod files. This is a one-time process which will make things a lot easier in the future. The idea is that you extract all the original assets to a local folder, so that you can use these when creating a new mod. Devil Daggers has many assets, so this saves a lot of work since you would usually only replace some of the assets when creating a mod.
	</p>
	<p>
		In this example we will set up a default audio mod. Let's go through it step by step:
	</p>

	<ol>
		<li>First, we need to make sure a setting is enabled. Go to Options > Settings, and make sure the setting "Automatically create mod file when extracting binaries" under the heading "Extracting binaries" is enabled.</li>
		<li>Go to File > audio > Extract 'audio' binary.</li>
		<li>In the open file dialog, choose the file called "audio" located in <span class="path">devildaggers\res</span> (which is <span class="path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers\res\audio</span> by default).</li>
		<li>In the folder dialog, choose a folder to extract the original audio files into. The program will now put all the original audio files into that folder as .wav files.</li>
		<li>Now, because we enabled the setting in step 1.1, there should be a mod file in the same folder you selected in the previous step. Open this mod file by going go File > audio > Open .audio mod file and selecting the .audio file.</li>
	</ol>

	<p>
		It is recommended to create a default mod file for all 4 asset files. Note that if you change the locations of assets, it will break the mod file. You can open the mod file using a text editor and globally replace all the paths with the new path to fix it (unless you also renamed the files themselves).
	</p>

	<h3>Making your own audio mod</h3>

	<h4>Step 1: Modifying assets</h4>
	<ol>
		<li>Since we opened the default mod file in the previous step, you will see the location for every default audio file in the "audio/Audio" tab. Change one or more audio paths by clicking the "Browse" button on the right.</li>
		<li>In the open file dialog, select a compatible .wav file. There are various requirements for a .wav file to play correctly in Devil Daggers. These can be found under "Compatibility" at the bottom of the page.</li>
	</ol>
	<p>
		Note: You can listen to your new audio file using the preview controls located above the asset list.
	</p>

	<h4>Step 2: Saving your mod</h4>
	<ol>
		<li>Go to File > audio > Save .audio mod file.</li>
		<li>In the save file dialog, select a folder that will contain your mod files. Give your audio mod file a name and save it.</li>
	</ol>
	<p>
		Note: You can set a default path for mod files in Options > Settings. This is purely optional and is just convenient for when you're opening your mods.
	</p>

	<h4>Step 3: Making your audio mod into a binary file to be played in Devil Daggers</h4>
	<ol>
		<li>To test your audio mod, open it by going to File > audio > Open .audio mod file.</li>
		<li>You will now see all your custom files being listed in the asset editor. Now we will create the binary. Go to File > audio > Make 'audio' binary.</li>
		<li>In the save file dialog, choose the file called audio located in <span class="path">devildaggers\res</span> (which is <span class="path">C:\Program Files (x86)\Steam\steamapps\common\devildaggers\res</span> by default), and overwrite it. It is recommended to save a back-up of the original file so you can easily go back to the original.</li>
		<li>Launch Devil Daggers to see if it's working. If it crashes, there might be something wrong with one of your custom .wav files. Be sure to check if all files are compatible. You will need to restart Devil Daggers after making a new binary, since the binaries are only loaded when the game starts up.</li>
	</ol>

	<h2>Compatibility</h2>

	<h3>Audio</h3>
	<p>
		Only .wav files are supported. The .wav files need to meet the following requirements in order to play correctly:
	</p>
	<ul>
		<li>2 channels</li>
		<li>44.1kHz sample rate</li>
		<li>PCM format (32-bit or 16-bit shouldn't matter, but 32-bit is known to work)</li>
	</ul>
	<p>
		You can convert the .wav files to the correct format using software such as Audacity.
	</p>

	<h3>Textures</h3>
	<p>
		Only .png files are supported. The files can be whatever dimension, though having files larger than 512x512 is not recommended since it will make the binary huge. Transparency is supported and used for UI textures, splash screens, etc, but does not work for model textures by default. I am not sure if anyone has looked into this, but you can probably make transparency work using modified shaders.
	</p>

	<h3>Models</h3>
	<p>
		Only .obj files are supported. The files can consist of triangles or quads, though NGons are not supported for now. You can create models using software such as Blender.
	</p>

	<h2>Miscellaneous information</h2>
	<ul>
		<li>The "polarity" audio files are known to crash the game when modified.</li>
		<li>The Devil Daggers title screen music seems to start playing at some hardcoded offset.</li>
	</ul>
</main>