@using DevilDaggersInfo.Core.Spawnset.View

<div class="grid gap-3 grid-cols-4">
	<div class="text-right">@SpawnView.Seconds.ToString(FormatUtils.TimeFormat)</div>
	<div>@SpawnView.EnemyType</div>
	<div class="text-right">@SpawnView.Gems</div>
	<div class="text-right">@SpawnView.GemsTotal.ToString("N0")</div>
</div>

@code
{
	[Parameter, EditorRequired] public SpawnView SpawnView { get; set; } = null!;
}
