@page
@{
	ViewData["Title"] = "Particle Binary";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<h2>Format</h2>

	<p>
		This binary consists of particle data. Not much is known about this as of now.
	</p>

	<h2>Files</h2>

	<p>
		There is 1 file in Devil Daggers which uses this format. This is "particle".
	</p>

	<ul>
		<li class="path">devildaggers/dd/particle</li>
	</ul>
</main>