@page
@model ErrorModel
@{
	ViewData["Title"] = "Error 500 - Internal server error";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<div role="main" class="text-center">
	<p>
		An error occurred while processing your request.
	</p>
	<p>
		Return to the <a asp-page="/Index">Home page</a>.
	</p>
</div>