@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<div role="main" class="text-center">
	<h2>An error occurred while processing your request.</h2>

	<p>
		@(Model.CommonObjects.HttpContextAccessor.HttpContext.Response.StatusCode)
	</p>
</div>