@page
@using DevilDaggersWebsite.Code.Utils
@{
	ViewData["Title"] = "Home";
}

<header>
	<h1>Devil Daggers Info</h1>
</header>

<main role="main" class="text-center">
	<p>
		<img src="~/images/Logos/dd.gif" />
	</p>
	<p>
		Accurate and up-to-date information about the game <a href="http://store.steampowered.com/app/422970/Devil_Daggers/">Devil Daggers</a>.
	</p>
	<p>
		This is a fan-made website; the creator of this website is not related to the developers of Devil Daggers.<br />
		Devil Daggers is a game created by Sorath.<br />
		<a href="http://devildaggers.com/">www.devildaggers.com</a> is the official website for Devil Daggers.
	</p>
	<p>
		The main purpose of this website is to help players find more accurate information about the game, like enemy types, hand upgrades, and spawn times. It also comes with a complete leaderboard where you can view any score, as well as custom spawnsets shared by the community.
	</p>
	<p>
		We have a <a href="@RazorUtils.DiscordUrl" target="_blank">Discord server</a>, feel free to join.
	</p>
</main>