@page
@inject CoreBase.Services.ICommonObjects CommonObjects
@model DevilDaggersWebsite.Pages.LeaderboardHistoryModel
@{
	ViewData["Title"] = $"Top 100 History ({Model.Leaderboard.DateTime.ToString("yyyy-MM-dd HH:mm")} UTC)";
}
@using DevilDaggersWebsite.Utils

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-center">
	<p>
		<a asp-page="/Leaderboard">Return to the present</a>
	</p>

	@await Html.PartialAsync("_LeaderboardGlobalPartial")
	<div>
		<form method="get">
			<select class="select form-control" asp-for="From" asp-items="Model.JsonFiles" onchange="this.form.submit()"></select>
		</form>
		<p class="visible-xs visible-sm visible-md">
			On mobile devices; tap on an entry to expand it.
		</p>
	</div>

	<div>
		Missing or inaccurate information
	</div>
	<div class="missing-information-container">
		<div class="flex-container leaderboard-flex flex-center flex-space-evenly text-left">
			<div>
				<div>Global</div>
				<div class="missing-information">@RazorUtils.GetLeaderboardInformationHTMLString(Model.Leaderboard.GetMissingGlobalInformation())</div>
			</div>
			<div>
				<div>User</div>
				<div class="missing-information">@RazorUtils.GetLeaderboardInformationHTMLString(Model.Leaderboard.GetMissingUserInformation())</div>
			</div>
		</div>
	</div>

	@await Html.PartialAsync("_LeaderboardUserPartial")
</main>