@page
@model DevilDaggersWebsite.Pages.SpawnsModel
@using DevilDaggersWebsite.Utils
@{
	ViewData["Title"] = "Spawns";
}

<header>
	<h1>Spawns</h1>
</header>

<main role="main">
	<p>
		These are the official spawn times for Devil Daggers V3.
	</p>
	<p>
		@Html.Raw(RazorUtils.GetLayout("Note that Centipedes, Gigapedes, Ghostpedes, and Thorns emerge around 3 seconds later than their actual spawn time."))
	</p>

	@Html.Partial("_SpawnsPartial", Model.V3Path)
</main>