@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model DevilDaggersWebsite.Pages.ToolsModel
@{
	ViewData["Title"] = "Tools";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		A lot of cool tools for Devil Daggers have been made.
	</p>

	<div class="flex-container">
		<div class="flex-container">
			<div>
				<a href="https://bitbucket.org/NoahStolk/devildaggerssurvivaleditor/src">Devil Daggers Survival Editor</a>
			</div>
			<div>
				Devil Daggers Survival Editor is a tool that lets you create, view, edit, and switch 'survival' files (also known as spawnsets) for the game Devil Daggers.
			</div>
			vhs dd stats
			bowsr ddse
			sojk ddse
			vhs spawnset selector
		</div>
	</div>

	<p>
		If you've made a something yourself and would like to get it listed here, please contact me.
	</p>
</main>