@page
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@model DevilDaggersWebsite.Pages.ToolsModel
@{
	ViewData["Title"] = "Tools";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		A lot of cool tools for Devil Daggers have been made.
	</p>

	<h2>Devil Daggers Survival Editor</h2>
	
	<p>
		Devil Daggers Survival Editor is a tool that lets you create, view, edit, and switch 'survival' files (also known as spawnsets) for the game Devil Daggers.
		<img class="img-responsive" width="512" src="~/images/DevilDaggersSurvivalEditor.png" />
	</p>
	<p>
		<a href="https://bitbucket.org/NoahStolk/devildaggerssurvivaleditor/src">Source code and download</a>
	</p>
	vhs dd stats
	bowsr ddse
	sojk ddse
	vhs spawnset selector

	<p>
		If you've made something yourself and would like to get it listed here, please contact me.
	</p>
</main>