@page "/donations"
@inject PublicApiHttpClient Http
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Donations

<Heading Title="Donations" />

<Paragraph>
	I've built this website, the asset editor, the spawnset editor, custom leaderboards, and all the other stuff entirely in my free time. If you appreciate the work I've done, or want to support hosting and domain costs for the website, you can consider donating via PayPal.
</Paragraph>

<a class="btn btn-green p-2 text-lg font-bold" href="//paypal.me/NoahStolk" role="button" target="_blank">Donate to DevilDaggers.info</a>

<Paragraph>
	Please be sure to include your leaderboard username and rank, so I can add you to the list of donators below.
</Paragraph>

<Paragraph>
	Thanks to everyone who donated!
</Paragraph>

@if (_donators == null)
{
	<Loading />
}
else
{
	<div class="max-w-lg">
		@foreach (KeyValuePair<GetDonator, string> kvp in _donators)
		{
			<div class="grid grid-cols-2 justify-items-stretch odd:bg-gray-1 px-2">
				<div style="white-space: nowrap;" class="justify-self-start font-goethe devil highlight hover:underline text-xl">
					@if (kvp.Key.PlayerId.HasValue)
					{
						<a href="/leaderboard/player/@kvp.Key.PlayerId">@kvp.Key.PlayerName</a>
					}
					else
					{
						@kvp.Key.PlayerName
					}
				</div>
				<div class="justify-self-end">
					<Tooltip Position=TooltipPosition.Left Text="@kvp.Value">
						<span class="cursor-pointer text-lg">€ @(CentsToString(kvp.Key.Donations.Sum(d => d.ConvertedEuroCentsReceived)))</span>
					</Tooltip>
				</div>
			</div>
		}
	</div>
}

@code
{
	private Dictionary<GetDonator, string>? _donators;

	protected override async Task OnInitializedAsync()
	{
		List<GetDonator> donators = await Http.GetDonators();
		_donators = donators.ToDictionary(d => d, donator => string.Join(" + ", donator.Donations
			.GroupBy(d => d.Currency)
			.Select(g => $"{g.Key.GetChar()} {CentsToString(g.Sum(d => d.Amount))} {(g.Key.ToString().ToUpper())}")));
	}

	private string CentsToString(int cents) => (cents / 100.0).ToString("0.00");
}
