@page "/donations"
@inject PublicApiHttpClient Http
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Donations

<Heading Title="Donations" />

<Paragraph>
	I've built this website, the asset editor, the spawnset editor, custom leaderboards, and all the other stuff entirely in my free time. If you appreciate the work I've done, or want to support hosting and domain costs for the website, you can consider <a class="link" href="//paypal.me/NoahStolk" target="_blank">donating via PayPal</a>. Please be sure to include your leaderboard username, rank, or player ID (player ID can be found by hovering over your rank number on the <a class="link" href="leaderboard">Leaderboard</a> page), so I can add you to the list of donators below, or if you prefer to stay anonymous, an alias or no name at all is fine too.
	@*TODO: When site is open source: "You can also star the project on GitHub."*@
</Paragraph>
<Paragraph>
	Thanks to everyone who donated!
</Paragraph>
<div class="grid gap-2 grid-cols-6">
	@foreach (Dagger dagger in Daggers.GetDaggers(GameConstants.CurrentVersion))
	{
		<img class="mx-auto" src="images/icons/daggers/@(dagger.Name.ToLower()).png" />
	}
</div>

@if (GetDonators == null)
{
	<Loading />
}
else
{
	<div class="grid gap-x-3 sm:grid-cols-1 md:grid-cols-3">
		@foreach (GetDonator donator in GetDonators)
		{
			string username = donator.HideDonations ? "(anonymous)" : donator.PlayerName;

			string tooltipText = string.Join(" + ", donator.Donations
				.GroupBy(d => d.Currency)
				.Select(g => $"{g.Key.GetChar()} {(g.Sum(d => d.Amount) / 100.0).ToString("0.00")} {(g.Key.ToString().ToUpper())}"));

			<div class="grid grid-cols-2 justify-items-stretch">
				<div style="white-space: nowrap;" class="justify-self-start font-goethe devil text-xl">@username</div>
				<div class="justify-self-end">
					<Tooltip Position=TooltipPosition.Left Text="@tooltipText">
						<span class="cursor-pointer">€ @((donator.Donations.Sum(d => d.ConvertedEuroCentsReceived) / 100.0).ToString("0.00"))</span>
					</Tooltip>
				</div>
			</div>
		}
	</div>
}

@code
{
	public List<GetDonator>? GetDonators { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetDonators = await Http.GetDonators();
	}
}
