@page
@using DevilDaggersWebsite.Razor.PageModels
@using DevilDaggersWebsite.Entities
@model AdminEntityCreateOrEditPageModel<AssetMod>

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Entity</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			@if (Model.IsEditing)
			{
				<input type="hidden" asp-for="Entity.Id" />
			}
			<div class="form-group">
				<label asp-for="Entity.AssetModTypes" class="control-label"></label>
				<input asp-for="Entity.AssetModTypes" class="form-control" />
				<span asp-validation-for="Entity.AssetModTypes" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Entity.AssetModFileContents" class="control-label"></label>
				<input asp-for="Entity.AssetModFileContents" class="form-control" />
				<span asp-validation-for="Entity.AssetModFileContents" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Entity.Name" class="control-label"></label>
				<input asp-for="Entity.Name" class="form-control" />
				<span asp-validation-for="Entity.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Entity.Url" class="control-label"></label>
				<input asp-for="Entity.Url" class="form-control" />
				<span asp-validation-for="Entity.Url" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
