@page
@using Microsoft.AspNetCore.Hosting
@using System.Collections.Generic
@using System.IO
@inject IWebHostEnvironment environment
@{
	ViewData["Title"] = "Delete AssetMod Screenshot";

	List<string> modFileNames = new();
	foreach (string path in Directory.GetFiles(System.IO.Path.Combine(environment.WebRootPath, "mod-screenshots"), "*.png", SearchOption.AllDirectories))
	{
		string directoryName = new DirectoryInfo(path).Parent?.Name ?? throw new($"Invalid path `{path}` while scanning mod screenshot file sizes.");
		modFileNames.Add(System.IO.Path.Combine(directoryName, System.IO.Path.GetFileName(path)));
	}
}

<h1>@ViewData["Title"]</h1>
<p>Please type the name of the screenshot file you want to delete (including mod name directory):</p>
<form method="post">
	<input name="fileName" />
	<input type="submit" />
</form>
<p>The following files exist in the file system:</p>
<ul>
	@foreach (string fileName in modFileNames)
	{
		<li>@fileName</li>
	}
</ul>
