@page
@model DeleteScreenshotModel
@{
	ViewData["Title"] = "Delete AssetMod Screenshot";
}

<h1>@ViewData["Title"]</h1>
<p>Please type the name of the screenshot file you want to delete (including mod name directory):</p>
<form method="post">
	<input name="fileName" />
	<input type="submit" />
</form>
<p>The following files exist in the file system:</p>
<ul>
	@foreach (string fileName in Model.ModFileNames)
	{
		<li>@fileName</li>
	}
</ul>
