@page
@using DevilDaggersWebsite.Constants
@using DevilDaggersWebsite.Entities
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@inject ApplicationDbContext DbContext
@{
	ViewData["Title"] = "Upload AssetMod Screenshot";

	List<SelectListItem> modNames = DbContext.AssetMods
		.AsNoTracking()
		.Select(am => am.Name)
		.ToList()
		.ConvertAll(n => new SelectListItem(n, n));
}

<h1>@ViewData["Title"]</h1>

<p>Notes</p>
<ul>
	<li>File must not be larger than 1 MiB (@($"{ModScreenshotConstants.MaxFileSize:n0}") bytes) in length.</li>
	<li>File name must not be over @ModScreenshotConstants.MaxFileNameLength characters in length.</li>
	<li>File must be a .png file.</li>
	<li>File name must be unique.</li>
	<li>No NSFW screenshots.</li>
	<li>Can have @ModScreenshotConstants.MaxScreenshots screenshots per mod at most.</li>
	<li>You should probably use the same aspect ratio for all screenshots for the same mod.</li>
</ul>

<form method="post" enctype="multipart/form-data">
	<label asp-for="ModName" class="control-label"></label>
	<select asp-for="ModName" class="form-control" asp-items="modNames"></select>
	<span asp-validation-for="ModName" class="text-danger"></span>
	<input asp-for="FormFile" />
	<input type="submit" />
</form>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' asp-append-version="true" />
}
