@page
@model DevilDaggersWebsite.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Admin";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	TODO
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' />
}