@page
@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@model DevilDaggersWebsite.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Admin";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	@{
		foreach (KeyValuePair<string, string> kvp in RoleManager.FolderToPolicyMapper)
		{
			string adminPage = kvp.Key.Replace("/Admin/", string.Empty);
			string adminRoute = $"./{adminPage}/Index";
			string role = RoleManager.PolicyToRoleMapper[kvp.Value];

			string? id = userManager.GetUserId(User);
			IdentityUser user = await userManager.FindByIdAsync(id);

			<ul>
				@if (await userManager.IsInRoleAsync(user, role))
				{
					<li><a asp-page="@adminRoute">@adminPage</a></li>
				}
			</ul>
		}
	}
</main>