@page
@model DevilDaggersWebsite.Pages.Admin.IndexModel
@{
	ViewData["Title"] = "Admin";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	@{
		foreach (KeyValuePair<string, string> kvp in RoleContainer.FolderToPolicyMapper)
		{
			string adminPage = kvp.Key.Replace("/Admin/", string.Empty);
			string role = RoleContainer.PolicyToRoleMapper[kvp.Value];

			if (User.IsInRole(role))
			{
				<a asp-page="@adminPage">@adminPage</a>
			}
		}
	}
</main>