@page
@model DevilDaggersWebsite.Pages.Admin.TasksModel
@{
	ViewData["Title"] = "Admin - Tasks";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<ul>
		@foreach (KeyValuePair<string, DateTime> kvp in Model.LastUpdatedDictionary)
		{
			<li>@kvp.Key was last updated on @kvp.Value.ToUniversalTime().ToString("yyyy-MM-dd HH:mm:ss.fff") UTC.</li>
		}
	</ul>
</main>