@page
@model DevilDaggersWebsite.Pages.Admin.TitlesModel
@inject CoreBase3.Services.ICommonObjects CommonObjects
@{
	ViewData["Title"] = "Admin - Titles";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main" class="text-left">
	<a asp-page="/Admin/Index" asp-route-password="@Model.Password">Admin home</a>
	@using (Html.BeginForm(FormMethod.Post))
	{
		<fieldset>
			<h2>User titles</h2>
			<textarea asp-for="FileContents">@Model.FileContents</textarea>
			<input type="submit" id="save" class="btn btn-default" value="Save" />
		</fieldset>
	}
</main>

@section Styles {
	<link rel='stylesheet' href='~/styles/admin.css' />
}