@page "/tools/survival-editor"
@inject PublicApiHttpClient Http
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Spawnsets
@using DevilDaggersInfo.Web.BlazorWasm.Shared.Dto.Public.Tools

<Heading>Devil Daggers Survival Editor</Heading>

@if (GetTool == null || GetTotalSpawnsetData == null)
{
	<Loading />
}
else
{
	<BuildInfo GetTool="GetTool" />

	<Heading Level="2">Features</Heading>
	<ul class="pl-4">
		<li class="list-disc">Spawns editor with many useful features such as copying spawns, previewing end loop, speeding up spawns, etc</li>
		<li class="list-disc">Arena editor with the ability to change tile heights, shrinking controls, arena brightness, etc</li>
		<li class="list-disc">Practice editor which lets you change the initial timer, hand level, and additional gems</li>
		<li class="list-disc">Supports reading and writing spawnsets for all three major versions of the game</li>
		<li class="list-disc">Generate custom arenas with built-in presets</li>
		<li class="list-disc">Download @(GetTotalSpawnsetData.Count) existing spawnsets from the website to insert them into the game directly</li>
	</ul>

	<Heading Level="2">System Requirements</Heading>
	<ul class="pl-4">
		<li class="list-disc">Windows</li>
		<li class="list-disc">.NET Desktop Runtime 5.0.x <b>x64</b>*</li>
	</ul>
	<p>* Since February 2021, Devil Daggers only runs on 64-bit systems. For 64-bit systems you need to install the x64 version of the runtime. The x86 version is for 32-bit.</p>
	<p>Unless you have a rather old computer, you are very likely to be running a 64-bit operating system.</p>
	<p>Devil Daggers Survival Editor will however still run on 32-bit systems if the x86 runtime is installed (this might change in the future since the game itself doesn't support 32-bit anymore).</p>

	<RunInfo />
	<SourceInfo Url="https://github.com/NoahStolk/DevilDaggersSurvivalEditor" />
	<Versions ToolVersions="GetTool.Versions" />
}

@code
{
	public GetTool? GetTool { get; set; }
	public GetTotalSpawnsetData? GetTotalSpawnsetData { get; set; }

	protected override async Task OnInitializedAsync()
	{
		GetTool = await Http.GetTool("DevilDaggersSurvivalEditor");
		GetTotalSpawnsetData = await Http.GetTotalSpawnsetData();
	}
}
