@using DevilDaggersInfo.Core.Replay.Events
@using DevilDaggersInfo.Razor.ReplayEditor.Store.State
@using DevilDaggersInfo.Razor.ReplayEditor.Utils
@using Fluxor
@inject IState<ReplayBinaryState> ReplayBinaryState

<EventViewer Title="Entity Position" GridConfig="grid-cols-4">
	<Head>
		<span>Entity ID</span>
		<span>Position</span>
	</Head>
	<Body>
		<span>@MarkupUtils.EntityType(Event.EntityId, ReplayBinaryState.Value.ReplayBinary.EntityTypes)</span>
		<span>@Event.Position</span>
	</Body>
</EventViewer>

@code
{
	[Parameter]
	[EditorRequired]
	public EntityPositionEvent Event { get; set; }
}
