@using DevilDaggersInfo.Core.Replay.Events
@using DevilDaggersInfo.Razor.ReplayEditor.Store.State
@using DevilDaggersInfo.Razor.ReplayEditor.Utils
@using Fluxor
@inject IState<ReplayBinaryState> ReplayBinaryState

<EventViewer Title="Hit" GridConfig="grid-cols-4">
	<Head>
		<span>Entity ID A</span>
		<span>Entity ID B</span>
		<span>C</span>
	</Head>
	<Body>
		<span>@MarkupUtils.EntityType(Event.EntityIdA, ReplayBinaryState.Value.ReplayBinary.EntityTypes)</span>
		<span>@MarkupUtils.EntityType(Event.EntityIdB, ReplayBinaryState.Value.ReplayBinary.EntityTypes)</span>
		<span>@Event.C</span>
	</Body>
</EventViewer>

@code
{
	[Parameter]
	[EditorRequired]
	public HitEvent Event { get; set; }
}
