@using DevilDaggersInfo.Core.Replay.Events
@using DevilDaggersInfo.Razor.ReplayEditor.Store.State
@using DevilDaggersInfo.Razor.ReplayEditor.Utils
@using Fluxor
@inject IState<ReplayBinaryState> ReplayBinaryState

<EventViewer Title="Squid Spawn" GridConfig="grid-cols-4">
	<Head>
		<span>Entity ID</span>
		<span>Position</span>
		<span>Direction</span>
		<span>Rotation</span>
	</Head>
	<Body>
		<span>@MarkupUtils.EntityType(Event.EntityId, ReplayBinaryState.Value.ReplayBinary.EventsData.EntityTypes)</span>
		<span>@Event.Position.ToString("0.00")</span>
		<span>@Event.Direction.ToString("0.00")</span>
		<span>@Event.RotationInRadians.ToString("0.00")</span>
	</Body>
</EventViewer>

@code
{
	[Parameter]
	[EditorRequired]
	public SquidSpawnEvent Event { get; set; }
}
