@using DevilDaggersInfo.Razor.Core.Components.Components
@inherits InputBase<TKey>
@typeparam TKey

<OutsideClickHandler OnClickOutside="OnClickOutside" CssClass="inline-block w-64 bg-gray-1 text-color-text">
	<div class="grid grid-cols-8">
		<span class="input-list-opener pl-2 col-span-7" @onclick="_ => _show = !_show">@SelectedDisplayValue</span>
		<span class="input-list-button" @onclick="_ => HandleSelect(default)">✕</span>
	</div>
	<div class="@(_show ? "absolute" : "hidden") z-10">
		<ul class="max-h-screen-half w-64 border-[#fff8] border-2">
			@foreach (KeyValuePair<TKey, string> kvp in Values)
			{
				<li class="input-list-entry" @onclick="_ => HandleSelect(kvp.Key)">@DisplayValue(kvp.Key)</li>
			}
		</ul>
	</div>
</OutsideClickHandler>
