<div class="py-1">
	<label class="inline-block w-64 text-lg">@Label</label>
	@ChildContent
</div>

@code
{
	[Parameter]
	[EditorRequired]
	public required string Label { get; set; }
	
	[Parameter]
	public required RenderFragment ChildContent { get; set; }
}
