@inherits InputBase<List<string>>

<div class="inline-block w-64 bg-gray-1 text-color-text">
	<div>
		<div class="w-full" @onclick="_ => _show = !_show"><span class="pl-2 text-lg select-none">@SelectedDisplayValue</span></div>
		@if (Values != null)
		{
			foreach (string value in Values)
			{
				<div class="grid grid-cols-8 bg-gray-1">
					<span class="pl-2 text-lg col-span-7">@value</span>
					@if (CurrentValue?.Contains(value) == true)
					{
						<span class="input-list-button" @onclick="_ => Toggle(value)">✕</span>
					}
					else
					{
						<span class="input-list-button" @onclick="_ => Toggle(value)">✓</span>
					}
				</div>
			}
		}
	</div>
</div>
