@page
@model DevilDaggersWebsite.Pages.Admin.AdminTests.IndexModel
@{
	ViewData["Title"] = "AdminTests";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<a asp-page="TestBot">TestBot</a>
	<a asp-page="TestException">TestException</a>
	<a asp-page="MigrateSpawnsetsToDatabase">MigrateSpawnsetsToDatabase</a>
</main>