<div class="chart relative" id="@UniqueName" @onmouseenter="() => SetHighlighterVisibility(true)" @onmouseleave="() => SetHighlighterVisibility(false)">
	<BECanvas Width="_canvasWidth" Height="_canvasHeight" @ref="_canvasReference" />
</div>
