<div class="chart relative" id="@UniqueName" @onmouseenter="() => SetHighlighterVisibility(true)" @onmouseleave="() => SetHighlighterVisibility(false)">
	<canvas width="@ChartWidth" height="@ChartHeight" id="@($"{UniqueName}-canvas")" @ref="_canvasRef"></canvas>
</div>
