<li class="pl-3 py-1 @CssClass">
	<NavLink href="@Href" Match="Match" @onclick="CloseMenu">
		<Icon Type="@IconType" Text="@Text" />
	</NavLink>
</li>

@code
{
	[CascadingParameter] NavMenu NavMenu { get; set; } = null!;

	[Parameter, EditorRequired] public string Href { get; set; } = null!;
	[Parameter] public string? CssClass { get; set; }
	[Parameter, EditorRequired] public string IconType { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
	[Parameter] public NavLinkMatch Match { get; set; }
	[Parameter] public Func<Task>? OnClickAction { get; set; }

	private async Task CloseMenu()
	{
		if (OnClickAction != null)
			await OnClickAction();

		NavMenu.ShowNavMenu = false;
		NavMenu.UpdateState();
	}
}
