<li>
	<NavLink class="@Class" href="@Href" Match="Match" @onclick="CloseMenu">
		<NavIcon Type="@IconType" Text="@Text" />
	</NavLink>
</li>

@code
{
	[CascadingParameter] public NavMenu NavMenu { get; set; } = null!;

	[Parameter, EditorRequired] public string Href { get; set; } = null!;
	[Parameter, EditorRequired] public string IconType { get; set; } = null!;
	[Parameter, EditorRequired] public string Text { get; set; } = null!;
	[Parameter] public NavLinkMatch Match { get; set; }
	[Parameter] public bool InDropdown { get; set; } = true;

	public string Class => $"{(InDropdown ? "px-2" : "pl-3")} py-1 transition-all duration-150 ease-in-out whitespace-nowrap overflow-x-hidden text-xl text-color-text sm:hover:bg-dark-red block w-full";

	private void CloseMenu()
	{
		NavMenu.ShowNavMenuMobile = false;
		NavMenu.UpdateState();
	}
}
