<div class="px-4 py-2 sm:hidden">
	<a href="" class="font-goethe text-3xl">DevilDaggers.Info</a>
	<button class="float-right sm:hidden text-xl pt-1" @onclick="() => ShowNavMenuMobile = !ShowNavMenuMobile">
		<span class="oi oi-menu" aria-hidden="true"></span>
	</button>
</div>

<div class="@(ShowNavMenuMobile ? null : "hidden sm:block") @(ExpandNavMenu ? "sm:w-56" : "sm:w-12") py-2 font-goethe transition-width duration-150 ease-in-out sm:h-screen" @onmouseleave="@OnMouseOut" @onmouseenter="@OnMouseOver">
	<ul>
		<CascadingValue Value="this">
			<NavItem Href="" CssClass="text-xl" IconType="home" Text="Home" Match="NavLinkMatch.All" InDropdown=false />
			<NavDropdown NavMenu="this" Text="Leaderboard">
				<NavItem Href="leaderboard" CssClass="text-lg" IconType="clock" Text="Leaderboard" />
				<NavItem Href="leaderboard/statistics" CssClass="text-lg" IconType="bar-chart" Text="Statistics" />
				<NavItem Href="leaderboard/history" CssClass="text-lg" IconType="book" Text="History" />
				<NavItem Href="leaderboard/history/statistics" CssClass="text-lg" IconType="bar-chart" Text="History Statistics" />
				<NavItem Href="leaderboard/world-records" CssClass="text-lg" IconType="star" Text="World Records" />
				<NavItem Href="leaderboard/player-settings" CssClass="text-lg" IconType="cog" Text="Player Settings" />
			</NavDropdown>
			<NavDropdown NavMenu="this" Text="Custom">
				<NavItem Href="custom/spawnsets" CssClass="text-lg" IconType="grid-three-up" Text="Spawnsets" />
				<NavItem Href="custom/leaderboards" CssClass="text-lg" IconType="clock" Text="Leaderboards" />
				<NavItem Href="custom/mods" CssClass="text-lg" IconType="brush" Text="Mods" />
			</NavDropdown>
			<NavDropdown NavMenu="this" Text="Tools">
				<NavItem Href="tools/survival-editor" CssClass="text-lg" IconType="grid-three-up" Text="Survival Editor" />
				<NavItem Href="tools/custom-leaderboards" CssClass="text-lg" IconType="clock" Text="Custom Leaderboards" />
				<NavItem Href="tools/asset-editor" CssClass="text-lg" IconType="brush" Text="Asset Editor" />
			</NavDropdown>
			<NavDropdown NavMenu="this" Text="Wiki">
				<NavItem Href="wiki/spawns" CssClass="text-lg" IconType="fire" Text="Spawns" />
				<NavItem Href="wiki/upgrades" CssClass="text-lg" IconType="bolt" Text="Upgrades" />
				<NavItem Href="wiki/enemies" CssClass="text-lg" IconType="eye" Text="Enemies" />
				<NavItem Href="wiki/daggers" CssClass="text-lg" IconType="arrow-bottom" Text="Daggers" />
				<NavItem Href="wiki/assets" CssClass="text-lg" IconType="book" Text="Assets" />
			</NavDropdown>
			<NavDropdown NavMenu="this" Text="Guides">
				<NavItem Href="guides/survival-editor" CssClass="text-lg" IconType="grid-three-up" Text="Survival Editor" />
				<NavItem Href="guides/asset-editor" CssClass="text-lg" IconType="brush" Text="Asset Editor" />
			</NavDropdown>
			<NavItem Href="donations" CssClass="text-xl" IconType="heart" Text="Donations" InDropdown=false />
			<NavItem Href="swagger/index.html" CssClass="text-xl" IconType="link-intact" Text="API" InDropdown=false />
			<NavDropdown NavMenu="this" Text="Account">
				<LoginDisplay />
			</NavDropdown>
			<AuthorizeView>
				<Authorized>
					<NavDropdown NavMenu="this" Text="Admin">
						<NavItem Href="admin/custom-entries" CssClass="text-lg" IconType="ellipses" Text="Custom Entries" />
						<NavItem Href="admin/custom-leaderboards" CssClass="text-lg" IconType="list" Text="Custom Leaderboards" />
						<NavItem Href="admin/donations" CssClass="text-lg" IconType="heart" Text="Donations" />
						<NavItem Href="admin/mods" CssClass="text-lg" IconType="brush" Text="Mods" />
						<NavItem Href="admin/players" CssClass="text-lg" IconType="people" Text="Players" />
						<NavItem Href="admin/spawnsets" CssClass="text-lg" IconType="grid-three-up" Text="Spawnsets" />
						<NavItem Href="admin/titles" CssClass="text-lg" IconType="badge" Text="Titles" />
						<NavItem Href="admin/users" CssClass="text-lg" IconType="person" Text="Users" />
					</NavDropdown>
				</Authorized>
			</AuthorizeView>
		</CascadingValue>
	</ul>
</div>

@code
{
	public bool ShowNavMenuMobile { get; set; } = false;

	public bool ExpandNavMenu { get; set; } = false;

	public List<NavDropdown> NavDropdowns { get; } = new();

	public void ShowSubMenu(NavDropdown navDropdown)
	{
		foreach (NavDropdown nd in NavDropdowns)
			nd.ShowList = navDropdown == nd;
	}

	public void UpdateState()
	{
		StateHasChanged();
	}

	private void OnMouseOver(MouseEventArgs mouseEvent)
	{
		if (ExpandNavMenu)
			return;

		ExpandNavMenu = true;
		StateHasChanged();
	}

	private void OnMouseOut(MouseEventArgs mouseEvent)
	{
		if (!ExpandNavMenu)
			return;

		ExpandNavMenu = false;
		StateHasChanged();
	}

	public string? GetOpacityClass()
	{
		if (ExpandNavMenu)
			return "opacity-100";

		if (ShowNavMenuMobile)
			return $"opacity-100 sm:opacity-0";

		return "opacity-0";
	}
}
