@if (_leaderboard == null)
{
	<p>Failed to retrieve scores from the official Devil Daggers leaderboard servers. Please try again later.</p>
	<p>If the problem persists, try contacting the Devil Daggers developer.</p>
}
else
{
	<p>
		<input />
	</p>
	<p>
		Showing results for "@_search"
	</p>
	<LeaderboardTable Leaderboard="@_leaderboard" Players="Players" />
}

@code {
	private Core.Dto.Leaderboard? _leaderboard;

	private string _search = string.Empty;

	[Parameter]
	public List<Player> Players { get; set; } = new List<Player>();

	protected override async Task OnInitializedAsync()
	{
		await FetchLeaderboard(_search);
	}

	private async Task FetchLeaderboard(string search)
	{
		_leaderboard = await DdHasmodaiClient.GetUserSearch(_search);
	}
}