@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'goethe';
		src: url('fonts/goethebold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'calibri';
		font-weight: 500;
		src: url('fonts/calibri-regular.ttf') format('truetype');
	}
}

@layer components {
	.btn {
		@apply text-lg text-color-text text-center;
	}

	.btn-disabled {
		@apply bg-gray-2;
	}

	.input-list-opener {
		@apply cursor-pointer text-lg select-none bg-gray-3 hover:bg-gray-6;
	}

	.input-list-button {
		@apply w-8 cursor-pointer text-lg select-none block text-center bg-gray-3 hover:bg-gray-6;
	}

	.input-list-entry {
		@apply cursor-pointer text-lg select-none pl-2 bg-gray-2 hover:bg-gray-4;
	}
}

#blazor-error-ui {
	background: lightyellow;
	color: black;
	bottom: 0;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
	display: none;
	left: 0;
	padding: 0.6rem 1.25rem 0.7rem 1.25rem;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

	#blazor-error-ui .dismiss {
		cursor: pointer;
		position: absolute;
		right: 0.75rem;
		top: 0.5rem;
	}
