<div class="grid gap-x-2 border-2 border-gray-3 p-1 grid-cols-4 md:grid-cols-8">
	<div class="font-bold col-span-2">Download</div>
	<div class="font-bold md:col-span-2">Note</div>
	<div class="font-bold hidden md:block">Size</div>
	<div class="font-bold">OS</div>
	<div class="font-bold hidden md:block col-span-2">Prerequisites</div>
</div>

@ChildContent

@code
{
	[Parameter]
	public RenderFragment ChildContent { get; set; } = null!;
}
