<Heading Title="Source" Level="2" />
<p class="para">The source code can be found on <a class="link" href="@Url" target="_blank">GitHub</a>.</p>

@code
{
	[Parameter]
	[EditorRequired]
	public required string Url { get; set; }
}
