@using DevilDaggersInfo.Api.Main.Tools
@using DevilDaggersInfo.Common
<div class="bg-gray-1 max-w-sm">
	<DataField CssClass="px-1" Left="3" Name="Current version">@GetTool.VersionNumber</DataField>
	<DataField CssClass="px-1" Left="3" Name="Oldest supported version">@GetTool.VersionNumberRequired</DataField>
	<DataField CssClass="px-1" Left="3" Name="@($"Total downloads (since {Constants.TrackingToolDownloadCounts.ToString(StringFormats.DateFormat)})")">@GetTool.Changelog?.Sum(v => v.DownloadCount).ToString("N0")</DataField>
</div>

@code
{
	[Parameter]
	[EditorRequired]
	public required GetTool GetTool { get; set; }
}
