@inherits LayoutComponentBase

<div class="font-calibri bg-black text-color-text h-full">
	<div class="flex flex-row">
		<div class="border-r-4 border-red">
			<div><a class="p-1 inline-block w-full text-lg bg-dark-red hover:bg-red" href="/">Edit binary</a></div>
			<div><a class="p-1 inline-block w-full text-lg bg-dark-red hover:bg-red" href="/download">Download mods</a></div>
			<div><a class="p-1 inline-block w-full text-lg bg-dark-red hover:bg-red" href="/manage">Manage mods</a></div>
			<div><a class="p-1 inline-block w-full text-lg bg-dark-red hover:bg-red" href="/about">About</a></div>
			<div><a class="p-1 inline-block w-full text-lg bg-dark-red hover:bg-red" href="/help">Help</a></div>
		</div>
		<div class="flex flex-col flex-grow px-4">
			@Body
		</div>
	</div>
</div>
