@inherits LayoutComponentBase

<div class="page">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
	</ul>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
