@inherits SpawnsetArena

<div class="relative max-w-arena-table" id="arena">
	<canvas width="@CanvasSize" height="@CanvasSize" id="arena-canvas" @ref="CanvasReference"></canvas>
</div>

<SpawnsetArenaHoverInfo @ref="SpawnsetArenaHoverInfo" />
