@page
@using Microsoft.AspNetCore.Hosting
@using System.IO
@inject IWebHostEnvironment Environment
@{
	ViewData["Title"] = "Delete Spawnset File";

	IEnumerable<string> spawnsetFileNames = Directory.GetFiles(System.IO.Path.Combine(Environment.WebRootPath, "spawnsets")).Select(p => System.IO.Path.GetFileName(p));
}

<h1>@ViewData["Title"]</h1>
<p>Please type the name of the spawnset file you want to delete:</p>
<form method="post">
	<input name="fileName" />
	<input type="submit" />
</form>
<p>The following files exist in the file system:</p>
<ul>
	@foreach (string fileName in spawnsetFileNames)
	{
		<li>@fileName</li>
	}
</ul>
