@page
@using DevilDaggersCore.Utils
@using DevilDaggersWebsite.Caches.LeaderboardStatistics
@model DevilDaggersWebsite.Razor.Pages.Leaderboard.StatisticsModel
@{
	ViewData["Title"] = "Leaderboard Statistics";
}

<header>
	<h1>@ViewData["Title"]</h1>
</header>

<main role="main">
	<p>
		This page contains some global statistics from the leaderboard.
	</p>
	@if (LeaderboardStatisticsCache.Instance.IsFetched)
	{
		<p>Statistics were last fetched on @HistoryUtils.HistoryJsonFileNameToDateTime(LeaderboardStatisticsCache.Instance.FileName).ToString(FormatUtils.DateTimeUtcFormat).</p>

		<h2>Sub 500 Scores</h2>
		<div class="chart" id="scores-pre500-chart">
			<table class="highlighter" id="scores-pre500-highlighter">
				<tr><td>Score</td><td id="h-pre500-score"></td></tr>
				<tr><td>Amount</td><td id="h-pre500-score-count"></td></tr>
				<tr><td>Percentage</td><td id="h-pre500-score-percentage"></td></tr>
			</table>
		</div>

		<h2>500+ Scores</h2>
		<div class="chart" id="scores-post500-chart">
			<table class="highlighter" id="scores-post500-highlighter">
				<tr><td>Score</td><td id="h-post500-score"></td></tr>
				<tr><td>Amount</td><td id="h-post500-score-count"></td></tr>
				<tr><td>Percentage</td><td id="h-post500-score-percentage"></td></tr>
			</table>
		</div>

		<h2>Daggers</h2>
		<div class="chart" id="daggers-chart">
			<table class="highlighter" id="daggers-highlighter">
				<tr><td>Dagger</td><td id="h-dagger"></td></tr>
				<tr><td>Amount</td><td id="h-dagger-count"></td></tr>
				<tr><td>Percentage</td><td id="h-dagger-percentage"></td></tr>
			</table>
		</div>

		<h2>Death types</h2>
		<div class="chart" id="death-types-chart">
			<table class="highlighter" id="death-types-highlighter">
				<tr><td>Death</td><td id="h-death"></td></tr>
				<tr><td>Amount</td><td id="h-death-count"></td></tr>
				<tr><td>Percentage</td><td id="h-death-percentage"></td></tr>
			</table>
		</div>
	}
	else
	{
		<p>Statistics are not initialized.</p>
	}
</main>

@section Scripts {
	<script defer src='~/plugins/jqPlot/jquery.jqplot.min.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.barRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasTextRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisLabelRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasAxisTickRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.categoryAxisRenderer.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.highlighter.js' asp-append-version='true'></script>
	<script defer src='~/plugins/jqPlot/jqplot.canvasOverlay.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/chart.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/chart-bar.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/scores.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/daggers.js' asp-append-version='true'></script>
	<script defer src='~/scripts/charts/statistics/death-types.js' asp-append-version='true'></script>
}

@section Styles {
	<link rel='stylesheet' href='~/plugins/jqPlot/jquery.jqplot.min.css' asp-append-version="true" />
	<link rel='stylesheet' href='~/styles/chart.css' asp-append-version="true" />
}
