<div class="p-4">
	<a href="" class="font-goethe text-3xl">DevilDaggers.Info</a>
	<button class="sm:hidden" @onclick="() => _collapseNavMenu = !_collapseNavMenu">
		<span class="oi oi-menu" aria-hidden="true"></span>
	</button>
</div>

<div class="@NavMenuCssClass pb-4">
	<ul>
		<li class="p-3 text-xl">
			<NavLink href="" Match="NavLinkMatch.All">
				<Icon Type="home" Text="Home" />
			</NavLink>
		</li>
		<li class="p-3 text-xl">
			<NavLink href="leaderboard">
				<Icon Type="clock" Text="Leaderboard" />
			</NavLink>
		</li>
		<li class="p-3 text-xl">
			<NavLink href="statistics">
				<Icon Type="bar-chart" Text="Statistics" />
			</NavLink>
		</li>
		<li class="p-3 text-xl">
			<div @onclick="() => _collapseAdminMenu = !_collapseAdminMenu">
				<Icon Type="list-rich" Text="Admin" />
			</div>
			@if (_collapseAdminMenu)
			{
				<ul class="pl-1 pt-3">
					<li class="p-3 text-xl">
						<NavLink href="admin/custom-entries">
							<Icon Type="ellipses" Text="Custom Entries" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/custom-leaderboards">
							<Icon Type="list" Text="Custom LBs" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/donations">
							<Icon Type="dollar" Text="Donations" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/mods">
							<Icon Type="brush" Text="Mods" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/players">
							<Icon Type="people" Text="Players" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/spawnsets">
							<Icon Type="grid-three-up" Text="Spawnsets" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/titles">
							<Icon Type="badge" Text="Titles" />
						</NavLink>
					</li>
					<li class="p-3 text-xl">
						<NavLink href="admin/users">
							<Icon Type="person" Text="Users" />
						</NavLink>
					</li>
				</ul>
			}
		</li>
		<li class="p-3 text-xl">
			<NavLink href="swagger/index.html">
				<Icon Type="cog" Text="API" />
			</NavLink>
		</li>
	</ul>
</div>

@code
{
	private bool _collapseNavMenu = true;
	private bool _collapseAdminMenu = true;

	private string? NavMenuCssClass => _collapseNavMenu ? "hidden sm:block" : null;
}
